<p>
    <strong>Name:</strong> {{ name }}<br/>
    <strong>Email:</strong> {{ email }}<br/>
    <strong>Message:</strong> {{ message }}
</p>

<p>
    <img src="{{ item.getFeaturedImageSrc }}" width="150"/><br/>
    <strong>{{ item.getAddress }}</strong><br/>
    MLS #{{ item.getMLSNumber }}<br/>
    {{ item.getNeighborhood }}
</p>

<p>
    <a href="{{ item.link }}">View Property</a>
</p>


