<!DOCTYPE html><html style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0"><body style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; font-family: Helvetica, Arial, sans-serif; font-size: 100%; height: 100%; line-height: 1.6em; margin: 0; padding: 0; width: 100% !important">
<style type="text/css">
img {
max-width: 600px; width: auto;
}
body {
-webkit-font-smoothing: antialiased; height: 100%; -webkit-text-size-adjust: none; width: 100% !important;
}
.site-btn td a:hover {
color: #768e1c; border: 1px solid #768e1c;
}
h2 a:hover {
color: #768e1c;
}
</style>
<p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; font-weight: normal; line-height: 1.6em; margin: 0 0 10px; padding: 0"> </p>
<meta name="viewport" content="width=device-width" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
<title style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">Saved Search Update</title>

<!-- body -->
<table class="logo-wrap" style="background-color: #f4f0e9; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 10px; text-align: center; width: 100%">
  <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
    <td class="container" style="border: none; clear: both !important; display: block !important; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 auto; max-width: 600px !important; padding: 0">
      <img src="{{ template_uri }}/img/carnes_logo.png" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 20px 0 0 0; max-width: 600px; padding: 0; width: 225px">
    </td>
  </tr>
</table>
<table class="body-wrap" bgcolor="#f4f0e9" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 20px; width: 100%">
  <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
    <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0"></td>
    <td class="container" bgcolor="#FFFFFF" style="border: 1px solid #dedede; clear: both !important; display: block !important; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 auto; max-width: 600px !important; padding: 20px">

      <!-- content -->
      <div class="content" style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 auto; max-width: 600px; padding: 0">
      <table style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; width: 100%">
        <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
          <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
            <h1 style="color: #768e1c; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 38px; font-weight: 600; line-height: 1.3; margin: 15px auto; padding: 0; text-align: center" align="center">Your Saved Searches</h1>
            <h2 style="color: #8a8b8d; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 24px; font-style: italic; font-weight: 400; line-height: 1.4; margin: 0 auto; padding: 0; text-align: center; text-decoration: none; width: 90%" align="center">Thank you for creating an account at <a href="http://www.carnescharleston.com" style="color: #8a8b8d; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 24px; font-style: italic; font-weight: 400; line-height: 1.4; margin: 0 auto; padding: 0; text-align: center; text-decoration: none; width: 90%">CarnesCharleston.com</a>. There have been some new results to your saved searches!</h2>
            <hr style="border-top-color: #dedede; border-top-style: solid; border-top-width: 1px; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 35px auto; padding: 0">
          </td>
        </tr>
      </table>
      </div>
      <!-- </div> -->

      <!-- column -->
      {% for property in properties %}
        {% if property.isFloorPlan %}
        <table class="col-2" cellpadding="0" cellspacing="0" border="0" style="display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 0 45px; padding: 10px; text-align: center; vertical-align: top; width: 45%">
            <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; vertical-align: top" valign="top">
                    <!-- property image -->
                    <div class="property-image" style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 100%; height: 200px; line-height: 1.6em; margin: 0 0 15px; overflow: hidden; padding: 0; text-align: center; width: 100%" align="center">
                        <table style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                            <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                                <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; vertical-align: top" valign="top">
                                    <img src="{{ property.getFeaturedImage.src }}" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 auto; max-width: 600px; padding: 0; width: 100%">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /property image -->

                    <h3 style="color: #768e1c; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 22px; font-weight: 400; line-height: 1.3; margin: 0 0 15px; padding: 0">{{ property.title }}</h3>
                    <p class="details" style="color: #58585a; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 1.6em; margin: 0 0 10px; padding: 0; text-transform: uppercase">{{ property.builder.title }}</p>
                    {% if property.bedrooms or property.full_bathrooms or property.half_bathrooms %}
                    <p class="details" style="color: #58585a; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 1.6em; margin: 0 0 10px; padding: 0; text-transform: uppercase">{% if property.bedrooms %}{{ property.bedrooms }} BR /{% endif %}
                        {% if property.full_bathrooms %}{{ property.full_bathrooms }} Full Bath{% endif %}
                        {% if property.half_bathrooms %} / {{ property.half_bathrooms }} Half Bath{% endif %}
                        <br style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                        {{ property.square_footage|removeNonNumbers|number_format }} sq ft
                    </p>
                    {% endif %}
                    <p class="price" style="font-family: Helvetica, Arial, sans-serif; font-size: 22px; font-weight: normal; line-height: 1.6em; margin: 0 0 10px; padding: 0">${{ property.price|removeNonNumbers|number_format }}</p>

                    <!-- button -->
                    <table class="site-btn" cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 20px auto; padding: 0; width: auto !important">
                      <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                        <td style="background: #ffffff; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 13px; letter-spacing: 0.5px; line-height: 1.6em; margin: 0; padding: 0; text-align: center; vertical-align: top" align="center" bgcolor="#ffffff" valign="top">
                          <a href="{{ property.link }}" style="background: #ffffff; border: 1px solid #3d3421; color: #3d3421; cursor: pointer; display: inline-block; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 100%; font-weight: bold; line-height: 2; margin: 0; padding: 8px 50px; text-decoration: none; text-transform: uppercase">View Listing</a>
                        </td>
                      </tr>
                    </table>
                    <!-- /button -->
                </td>
            </tr>
        </table>

        {% else %}

        <table class="col-2" cellpadding="0" cellspacing="0" border="0" style="display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 0 45px; padding: 10px; text-align: center; vertical-align: top; width: 45%">
        <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
          <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; vertical-align: top" valign="top">
            <!-- property image -->
            <div class="property-image" style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 100%; height: 200px; line-height: 1.6em; margin: 0 0 15px; overflow: hidden; padding: 0; text-align: center; width: 100%" align="center">
                <table style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                    <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                        <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; vertical-align: top" valign="top">
                            <img src="{{ property.getFeaturedImageSrc }}" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 auto; max-width: 600px; padding: 0; width: 100%">
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /property image -->

            <h3 style="color: #768e1c; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 22px; font-weight: 400; line-height: 1.3; margin: 0 0 15px; padding: 0">{{ property.getAddress }}</h3>
            <p class="details" style="color: #58585a; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 1.6em; margin: 0 0 10px; padding: 0; text-transform: uppercase">{{ property.getNeighborhood }}</p>
                {% if property.getBedroomCount or property.getFullBathroomCount or property.getHalfBathroomCount %}
                <p class="details" style="color: #58585a; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 1.6em; margin: 0 0 10px; padding: 0; text-transform: uppercase">{% if property.getBedroomCount %}{{ property.getBedroomCount }} BR /{% endif %}
                    {% if property.getFullBathroomCount %}{{ property.getFullBathroomCount }} Full Bath{% endif %}
                    {% if property.getHalfBathroomCount %} / {{ property.getHalfBathroomCount }} Half Bath{% endif %}
                    <br style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                    {{ property.getTotalAreaSquareFootage|number_format(numDecimalPlaces) }} {{ property.getTotalAreaSquareFootageUnitOfMeasurement }}
                </p>
            {% endif %}
            <p class="price" style="font-family: Helvetica, Arial, sans-serif; font-size: 22px; font-weight: normal; line-height: 1.6em; margin: 0 0 10px; padding: 0">${{ property.getPurchaseListPrice|number_format }}</p>

            <!-- button -->
            <table class="site-btn" cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 20px auto; padding: 0; width: auto !important">
              <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
                <td style="background: #ffffff; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 13px; letter-spacing: 0.5px; line-height: 1.6em; margin: 0; padding: 0; text-align: center; vertical-align: top" align="center" bgcolor="#ffffff" valign="top">
                  <a href="{{ property.link }}" style="background: #ffffff; border: 1px solid #3d3421; color: #3d3421; cursor: pointer; display: inline-block; font-family: Palatino Linotype, Palatino, Georgia, serif; font-size: 100%; font-weight: bold; line-height: 2; margin: 0; padding: 8px 50px; text-decoration: none; text-transform: uppercase">View Listing</a>
                </td>
              </tr>
            </table>
            <!-- /button -->
          </td>
        </tr>
        </table>

      {% endif %}
      {% endfor %}
      <!-- /column -->

      <!-- /content -->

    </td>
    <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0"></td>
  </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap" style="clear: both !important; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; width: 100%">
  <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
    <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0"></td>
    <td class="container" style="clear: both !important; display: block !important; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 auto; max-width: 600px !important; padding: 0">

      <!-- content -->
      <div class="content" style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0 auto; max-width: 600px; padding: 0">
        <table style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; width: 100%">
          <tr style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
            <td align="center" style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">
              <p style="color: #666666; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 1.6em; margin: 0 0 10px; padding: 0">© 2016 All Rights Reserved - <a href="http://wwww.carnescharleston.com" style="color: #999999; font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0">Carnes Crossroads</a></p>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->

    </td>
    <td style="font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0"></td>
  </tr>
</table>
<!-- /footer -->


</body></html>

