{# <h3>{{ total }} new result{% if total > 1 %}s{% endif %}</h3>
<p><a href="{{ filter.link }}">{{ filter.getFriendlyName }}</a></p>
<ul>
    {% for property in properties %}
        <li>{{ property.getAddress }}</li>
    {% endfor %}
</ul>

<p>
    <a href="{{ filter.link }}">View Updates on Daniel Island website</a>
</p> #}

<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Saved Search Update</title>
<style>
/* -------------------------------------
    GLOBAL
------------------------------------- */
* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

img {
  max-width: 600px;
  width: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -webkit-text-size-adjust: none;
  width: 100% !important;
}

hr {
  border-top: 1px solid #dedede;
  margin: 35px auto;
}


/* -------------------------------------
    ELEMENTS
------------------------------------- */
a {
  color: #348eda;
}

.last {
  margin-bottom: 0;
}

.first {
  margin-top: 0;
}

.padding {
  padding: 10px 0;
}

.site-btn {
  margin: 20px auto;
  width: auto !important;
}
.site-btn td {
  background-color: #ffffff;
  font-family: Palatino Linotype, Palatino, Georgia, serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: center;
  vertical-align: top;
}
.site-btn td a {
  padding: 8px 50px;
  font-family: Palatino Linotype, Palatino, Georgia, serif;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #3d3421;
  display: inline-block;
  color: #3d3421;
  cursor: pointer;
  font-weight: bold;
  line-height: 2;
  text-decoration: none;
}

.site-btn td a:hover {
  color: #768e1c;
  border: 1px solid #768e1c;
}


/* -------------------------------------
    BODY
------------------------------------- */
table.body-wrap {
  padding: 20px;
  width: 100%;
}

table.body-wrap .container {
  border: 1px solid #dedede;
}

table.logo-wrap {
  padding: 10px;
  width: 100%;
  text-align: center;
}

table.logo-wrap .container {
  border: none;
}

.logo-wrap img {
  width: 225px;
}

.col-2 {
  width: 45%;
  margin-bottom: 45px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.col-2 tr td {
    vertical-align: top;
}

.property-image {
    display: block;
    margin-bottom: 15px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.property-image img {
    margin: 0 auto;
    width: 100%;
}


/* -------------------------------------
    FOOTER
------------------------------------- */
table.footer-wrap {
  clear: both !important;
  width: 100%;
}

.footer-wrap .container p {
  color: #666666;
  font-size: 12px;

}

table.footer-wrap a {
  color: #999999;
}


/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

h1 {
  font-family: Palatino Linotype, Palatino, Georgia, serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  color: #768e1c;
  margin: 15px auto;
}

h2,
h2 a {
  font-family: Palatino Linotype, Palatino, Georgia, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  font-style: italic;
  color: #8a8b8d;
  width: 90%;
  margin: 0 auto;
  text-decoration: none;
}

h2 a:hover {
  color: #768e1c;
}

h3 {
  font-family: Palatino Linotype, Palatino, Georgia, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  color: #768e1c;
  margin-bottom: 15px;
}

ul {
  margin: 0 0 40px 20px;
  font-size: 15px;
  font-weight: normal;
}

ul li {
  margin: 0 0 10px 0;
  list-style-position: inside;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
}

p.indent {
  margin-left: 20px;
}

p.disclaimer {
  width: 95%;
  margin: 35px auto;
  font-size: 10px;
  color: #58585a;
}

p.details {
  font-size: 12px;
  color: #58585a;
  text-transform: uppercase;
}

p.price {
  font-size: 22px;
}

/* ---------------------------------------------------
    RESPONSIVENESS
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  clear: both !important;
  display: block !important;
  margin: 0 auto !important;
  max-width: 600px !important;
}

/* Set the padding on the td rather than the div for Outlook compatibility */
.body-wrap .container {
  padding: 20px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%;
}

</style>
</head>




<body bgcolor="#f4f0e9">

<!-- body -->
<table class="logo-wrap">
  <tr>
    <td class="container">
      <img src="{{ template_uri }}/img/carnes_logo.png">
    </td>
  </tr>
</table>
<table class="body-wrap" bgcolor="#f4f0e9">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <!-- content -->
      <div class="content">
      <table>
        <tr>
          <td>
            <h1>Your Saved Searches</h1>
            <h2>Thank you for creating an account at <a href="http://www.carnescharleston.com">CarnesCharleston.com</a>. There have been some new results to your saved searches!</h2>
            <hr>
          </td>
        </tr>
      </table>
      </div>
      <!-- </div> -->

      <!-- column -->
      {% for property in properties %}
        {% if property.isFloorPlan %}
        <table class="col-2" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <!-- property image -->
                    <div class="property-image">
                        <table>
                            <tr>
                                <td>
                                    <img src="{{ property.getFeaturedImage.src }}">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /property image -->

                    <h3>{{ property.title }}</h3>
                    <p class="details">{{ property.builder.title }}</p>
                    {% if property.bedrooms or property.full_bathrooms or property.half_bathrooms %}
                    <p class="details">{% if property.bedrooms %}{{ property.bedrooms }} BR /{% endif %}
                        {% if property.full_bathrooms %}{{ property.full_bathrooms }} Full Bath{% endif %}
                        {% if property.half_bathrooms %} / {{ property.half_bathrooms }} Half Bath{% endif %}
                        <br/>
                        {{ property.square_footage|removeNonNumbers|number_format }} sq ft
                    </p>
                    {% endif %}
                    <p class="price">${{ property.price|removeNonNumbers|number_format }}</p>

                    <!-- button -->
                    <table class="site-btn" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td>
                          <a href="{{ property.link }}">View Listing</a>
                        </td>
                      </tr>
                    </table>
                    <!-- /button -->
                </td>
            </tr>
        </table>

        {% else %}

        <table class="col-2" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <!-- property image -->
            <div class="property-image">
                <table>
                    <tr>
                        <td>
                            <img src="{{ property.getFeaturedImageSrc }}">
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /property image -->

            <h3>{{ property.getAddress }}</h3>
            <p class="details">{{ property.getNeighborhood }}</p>
                {% if property.getBedroomCount or property.getFullBathroomCount or property.getHalfBathroomCount %}
                <p class="details">{% if property.getBedroomCount %}{{ property.getBedroomCount }} BR /{% endif %}
                    {% if property.getFullBathroomCount %}{{ property.getFullBathroomCount }} Full Bath{% endif %}
                    {% if property.getHalfBathroomCount %} / {{ property.getHalfBathroomCount }} Half Bath{% endif %}
                    <br/>
                    {{ property.getTotalAreaSquareFootage|number_format(numDecimalPlaces) }} {{ property.getTotalAreaSquareFootageUnitOfMeasurement }}
                </p>
            {% endif %}
            <p class="price">${{ property.getPurchaseListPrice|number_format }}</p>

            <!-- button -->
            <table class="site-btn" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <a href="{{ property.link }}">View Listing</a>
                </td>
              </tr>
            </table>
            <!-- /button -->
          </td>
        </tr>
        </table>

      {% endif %}
      {% endfor %}
      <!-- /column -->

      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>&copy; 2016 All Rights Reserved - <a href="http://wwww.carnescharleston.com">Carnes Crossroads</a></p>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /footer -->

</body>
</html>