{% include 'poa/partials/header.twig' %}

<div class="page-header-image" style="background:url( {{ site.theme.link }}/img/placeholder-slider.jpg) no-repeat 50% 50%; background-size: cover;">
    <div class="page-header-title">
        <h1>Island Announcements</h1>
    </div>
</div>

<div class="sidebar-mobile">
    <div class="sub-nav">
        {# TODO: Setup once archive setup #}
        <ul>
            {% for key,val in archive_links %}
            <li><a href="/residents/announcements/archive/{{ val }}">{{ key }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="down-menu visible-sm visible-xs">
    <div class="icon-container">
        <svg width="15" height="15">
            <image xlink:href="{{ template_uri }}/img/chevron-down.svg"
                   src="{{ template_uri }}/img/chevron-down.png" width="15"
                   height="15"/>
        </svg>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sub-nav main-sub-nav small-header">
                    <div class="sidebar-title">
                        Archive
                    </div>
                    <ul>
                        {% for key,val in archive_links %}
                        <li><a href="/residents/announcements/archive/{{ val }}">{{ key }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-right">
                <div class="child-page-content" id="{{ child_page.post_name }}">
                    <div class="child-title">
                        <h3>{{ post.title }}</h3>
                    </div>

                    <div class="child-content">
                        <div class="announcement-img">

                            {% if post.thumbnail %}
                            <img src="{{ post.thumbnail.src|resize(165,165) }}" />
                            {% else %}
                            <img src="{{ site.theme.link }}/img/placeholder-poa-news-img.jpg" />
                            {% endif %}

                        </div>
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'poa/partials/footer.twig' %}