<div class="primary-page">
    <div class="primary-page-header">
        <div class="page-title" style="background: url('{{ page.thumbnail.src }}') 50% 50% no-repeat; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sub-nav main-sub-nav">
                        {{ include('partials/account/sidebar.twig') }}
                    </div>
                </div>
                <div class="col-md-9 col-right">
                    <div class="primary-content">
                        {{ page.content }}
                    </div>
                    {% block page_content %}
                        {#this will be filled in via ajax#}
                        <div class="account-loading-screen">
                            <p>Please wait while your account information loads&hellip;</p>
                            <img src="{{ template_uri }}/img/loading.gif" />
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>