{% set shouldLinkToNewPage = false %}
{% if child_page.content|length > 450 and child_page.content|length < 850 %}
    {% set expandLink = '<a class="expand-link">&nbsp;&hellip;&nbsp;Read More</a>' %}
    {% set firstParagraph = child_page.content|truncateToFirstParagraph(expandLink) %}
    {{ firstParagraph }}<span class="more-content" style="display:none;">
    <p>{{ child_page.content|slice(firstParagraph|length - expandLink|length) }}</p></span>
{% elseif child_page.content|length >= 700 %}
    {% set shouldLinkToNewPage = true %}
    {# {% set firstParagraph = child_page.content|truncate(60) %} #}
    {% set firstParagraph = child_page.get_preview(60, false, ‘’) %}
    <p>{{ firstParagraph }}</p>
{% else %}
    <p>
        {{ child_page.content }}
        {# {{ child_page.get_preview }} #}
    </p>
{% endif %}
{% if child_page.isRealEstateAgent %}
    {% for contact in child_page.getContacts %}
        <div class="agent-contact">
            <div class="item"><strong>Name: </strong>{{ contact.name }}</div>
            <div class="item"><strong>Office Phone: </strong>{{ contact.office_phone }}</div>
            <div class="item"><strong>Mobile Phone: </strong>{{ contact.mobile_phone }}</div>
            <div class="item"><strong>Email: </strong><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></div>
        </div>
    {% endfor %}
{% endif %}
{% if shouldLinkToNewPage or child_page.getButton %}
    {% if child_page.getButton and child_page.isRealEstateAgent %}
        <a class="btn btn-green-small" href="{{ child_page.getButton.custom_link }}">{{ child_page.getButton.title }}</a>
    {% else %}
    <a class="btn btn-green-small" href="{{ child_page.link }}">Learn More</a>
    {% endif %}
{% endif %}