<div class="modal fade" id="modal-request-showing" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="primary-page">
                <div class="primary-page-header">
                    <div class="logo-container">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-11 col-lg-offset-1">
                                    <div class="logo">
                                        <a href="/">
                                            <img src="{{ template_uri }}/img/daniel-island-logo.png"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-title"
                         style="background: url('{{ floor_plan.getFeaturedImage.src }}') 50% 50% no-repeat #000000; background-size: cover;">
                        <div class="black-overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Request Information</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-right">
                                <div class="primary-content">

                                    {#<div class="listing-address">{{ property.getAddress }}</div>#}
                                    <div class="listing-price">
                                        ${{ floor_plan.price|removeNonNumbers|number_format }}</div>
                                    <div class="listing-specs">
                                        {% if floor_plan.bedrooms or floor_plan.full_bathrooms or floor_plan.half_bathrooms or floor_plan.square_footage %}
                                            {% if floor_plan.bedrooms %}{{ floor_plan.bedrooms }} BR /{% endif %}
                                            {% if floor_plan.full_bathrooms %}{{ floor_plan.full_bathrooms }} Full Bath /{% endif %}{% if floor_plan.half_bathrooms %}{{ floor_plan.half_bathrooms }}  Half Bath /{% endif %}{% if floor_plan.square_footage %}  {{ floor_plan.square_footage|removeNonNumbers|number_format }} sq ft{% endif %}
                                        {% endif %}
                                    </div>


                                    <div class="listing-neighborhood">
                                        Floor Plan | {{ floor_plan.builder.title }}
                                    </div>

                                    <span style="display:none;" class="success-message">Your request to view this listing has successfully been submitted. Thank you for your interest.</span>

                                    <form class="request-showing">
                                        <input type="hidden" name="builderTitle" value="{{ floor_plan.builder.title|slugify }}"/>
                                        <input type="hidden" name="floorPlanTitle" value="{{ floor_plan.title|slugify }}" />
                                        <input type="hidden" name="link" value="{{ floor_plan.link }}"/>
                                        <label>Name</label>
                                        <input type="text" name="name"/>
                                        <label>Email<span class="red">*</span></label>
                                        <input type="text" name="email"/>
                                        {% if function('is_user_logged_in') == false %}
                                            <p>Would you like to create an account? An account allows you to save
                                                listings, save searches, and receive updates via email daily or weekly
                                                on your search results.</p>
                                            <div class="account">
                                                <label>Yes</label>
                                                <input type="checkbox" name="createAccount"/>
                                            </div>
                                        {% endif %}
                                        <label>Questions/Comments?</label>
                                        <textarea name="message"></textarea>
                                        <span style="display:none;" class="error-message"></span>
                                        <button class="site-btn">Send</button>
                                        <div class="required">* Required</div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-logo visible-sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logo">
                                    <a href="/">
                                        <img src="{{ template_uri }}/img/daniel-island-logo-color.png"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="container-fluid">#}
                    {#<div class="row">#}
                        {#<div class="col-md-offset-3 col-md-9">#}
                            {#<img src="{{ template_uri }}/img/footer-streetscape.jpg" alt="Daniel Island Streetscape"#}
                                 {#class="img-responsive"/>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
            <a class="back-top" href="#">
                <svg width="15" height="15">
                    <image xlink:href="{{ template_uri }}/img/top-arrow.svg" src="{{ template_uri }}/img/top-arrow.png"
                           width="15"
                           height="15"/>
                </svg>
            </a>

        </div>
    </div>
</div>