{% for child_page in page.getChildren %}
    {% if loop.index is odd %}
        <div class="row">

            <div class="col-xs-12 col-md-7">
                {% if child_page.getGalleryImages|length > 1 %}
                    <div class="slider-sm__nav">
                        <span class="prev-sm"></span>
                        <span class="next-sm"></span>
                    </div>
                {% endif %}
                <div class="slider-sm">
                    {% for image in child_page.getGalleryImages %}
                        <div class="slider-sm__item" style="background-image: url('{{ image.src }}');">
                            {% if image.caption %}
                                <div class="slider-sm__caption"><span>{{ image.caption }}</span></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-md-offset-1 text-left child-content">
                <h4>{{ child_page.title }}</h4>
                {% include "partials/layer-content.twig" %}
            </div>
        </div>
    {% else %}

        <div class="row">
            <div class="col-xs-12 col-md-4 text-right child-content">
                <h4>{{ child_page.title }}</h4>
                {% include "partials/layer-content.twig" %}
            </div>
            <div class="col-xs-12 col-md-7 col-md-offset-1">
                {% if child_page.getGalleryImages|length > 1 %}
                    <div class="slider-sm__nav pull-right">
                        <span class="prev-sm"></span>
                        <span class="next-sm"></span>
                    </div>
                {% endif %}
                <div class="slider-sm__wrap slider-sm">
                    {% for image in child_page.getGalleryImages %}
                        <div class="slider-sm__item"
                             style="background-image: url('{{ image.src|resize(718,350) }}');">
                            {% if image.caption %}
                                <div class="slider-sm__caption">
                                    <span>{{ image.caption }}</span>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    {% endif %}

    {% if loop.last == false %}
        <hr>
    {% endif %}
{% endfor %}