<nav class="main-nav smaller">
    <div class="main-nav__inner-wrap">
        <div class="main-nav__logo"><a href="/"><img src="{{ template_uri }}/img/carnes_logo_wht.svg"></a></div>
        <ul class="main-nav__sub">
            {% for item in header_menu.get_items %}
                <li class="main-nav__sub-item"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <ul class="main-nav__primary">
            {% for item in primary_menu.get_items %}
            <li class="main-nav__primary-item"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>