<footer class="page-content--footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="footer__social pull-right">
                    <li class="footer__social-item"><a href=""><img src="{{ template_uri }}/img/icon-social-tw.png"/></a></li>
                    <li class="footer__social-item"><a href=""><img src="{{ template_uri }}/img/icon-social-fb.png"/></a></li>
                    <li class="footer__social-item"><a href=""><img src="{{ template_uri }}/img/icon-social-yt.png"/></a></li>
                    <li class="footer__social-item"><a href=""><img src="{{ template_uri }}/img/icon-social-ig.png"/></a></li>
                    <li class="footer__social-item"><a href=""><img src="{{ template_uri }}/img/icon-social-tm.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="input-group footer-search">
                    <label for="footer-search">Search</label>
                    <input type="text" class="form-control" id="footer-search">
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <ul class="footer__nav text-right">
                    {% for item in footer_menu.get_items %}
                    <li class="footer__nav-item"><a href="{{ item.link }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__grey">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <p>Carnes Crossroads real Estate&nbsp;&nbsp;|&nbsp;&nbsp;513 Wodin Place, Summerville, SC 29483</p>
                    <p><a href="http://www.carnescharleston.com">carnescharleston.com</a>&nbsp;&nbsp;|&nbsp;&nbsp;1-843-761-8600</p>
                </div>
                <div class="col-xs-12 col-md-5 text-right">
                    <p>&#169; 2015 Carnes Crossroads Associates&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Terms of Use</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>