<p>
    There are {{ posts|length }} images for approval for the #{{ tag }} campaign.
</p>

<p>
    <a href="{{ function('get_site_url') }}/wp-admin/edit.php?post_status=pending&post_type=app_instagram">
        {{ function('get_site_url') }}/wp-admin/edit.php?post_status=pending&post_type=app_instagram
    </a>
</p>
<p>
    <a href="{{ function('get_site_url') }}">{{ function('get_site_url') }}</a>
</p>
