
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="poa-footer-nav">
                            <ul class="footer-nav">
                                {% for item in poa_footer_menu.get_items %}
                                    <li class="nav-item"><a href="{{ item.link }}">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                        <div class="copyright">
                            &copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <a class="back-top" href="#">
            <svg width="15" height="15">
                <image xlink:href="{{ site.theme.link }}/img/top-arrow.svg" src="{{ site.theme.link }}/img/top-arrow.png" width="15"
                       height="15"/>
            </svg>
        </a>


        {{ wp_footer() }}

        {% if use_ga %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ ga_code }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}

        {% if use_crazyegg %}
        <script type="text/javascript">
            setTimeout(function(){var a=document.createElement("script");
                                  var b=document.getElementsByTagName("script")[0];
                                  a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0018/5125.js?"+Math.floor(new Date().getTime()/3600000);
                                  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>
        {% endif %}

        {% if add_this_src %}
        <script type="text/javascript"
                src="{{ add_this_src }}"
                async="async"></script>
        {% endif %}

    </body>
</html>
