<div class="home-finder-filters{% if isSingle %} hide-filters{% endif %}">
    <div class="home-finder-search">
        <input type="search" placeholder="Search Address" id="filter-searchAddress"
               value="{{ filters.getSearchAddress }}">
    </div>

    {# potential new location for account #}
    <div>
        {% if function('is_user_logged_in') %}
            <span class="account-links">
        <a href="#" class="showAccountPage">Saved Listings {{ current_user.getSavedPropertyIds|length }}</a>
        &nbsp;/&nbsp;
        <a href="#" class="showAccountPage">Saved Searches {{ current_user.getRawSavedSearches|length }}</a>
        &nbsp;/&nbsp;
        <a href="{{ function('wp_logout_url', function('get_permalink', 17)) }}">Logout</a>
    </span>
        {% else %}
            <a href="#" class="showAccountPage"><span class="account-links">Sign In / Create Account</span></a>
        {% endif %}
    </div>

    <button type="button" class="visible-sm visible-xs more-button toggle-more">More</button>

    <div class="filter-options">
        <a href="#" id="filter-clearAll">Clear</a>
        <select id="filter-listings-type-copy">
                <option>Select Filters</option>
                <option {% if isAvailableHomes %}selected="selected"{% endif %}
                    value="available-homes">Available Homes
                </option>
                <option {% if isHomePlans %}selected="selected"{% endif %}
                    value="home-plans">Home Plans
                </option>
                <option {% if isAvailableHomesAndHomePlans %}selected="selected"{% endif %}
                    value="available-homes-and-plans">
                Show Both
            </option>
        </select>
        <select id="filter-builders">
            <option value="">All Builders</option>
            {% for builder in function('\\App\\Model\\Builder::all') %}
                <option value="{{ builder.title|slugify }}"
                        {% if builder.title|slugify == filters.getBuilders|split(',')[0] %}selected="selected"{% endif %}>{{ builder.title }}</option>
            {% endfor %}
        </select>
        <div class="slider-container">
            <button id="showPriceFilter">Price</button>
            <div id="priceFilterSection" class="slider-dropdown" style="display:none">
                <input id="minPriceFilter" type="text" value="0"> to <input id="maxPriceFilter" type="text" value="5000000">
                <div id="filter-price" class="noUi-extended"></div>
            </div>
        </div>
        <select id="filter-bedrooms">
            <option value="">Bedrooms</option>
            <option value="1" {% if '1' == filters.getBedrooms|split(',')[0] %}selected="selected"{% endif %}>1+
                Bedrooms
            </option>
            <option value="2" {% if '2' == filters.getBedrooms|split(',')[0] %}selected="selected"{% endif %}>2+
                Bedrooms
            </option>
            <option value="3" {% if '3' == filters.getBedrooms|split(',')[0] %}selected="selected"{% endif %}>3+
                Bedrooms
            </option>
            <option value="4" {% if '4' == filters.getBedrooms|split(',')[0] %}selected="selected"{% endif %}>4+
                Bedrooms
            </option>
        </select>

        <button type="button" class="hidden-sm hidden-xs more-button">More</button>
        <div class="more-options" id="more-options">
            <select id="filter-bathrooms" class="chosen-select">
                <option value="">Bathrooms</option>
                <option value="1" {% if '1' == filters.getBathrooms|split(',')[0] %}selected="selected"{% endif %}>
                    1+ Bathrooms
                </option>
                <option value="2" {% if '2' == filters.getBathrooms|split(',')[0] %}selected="selected"{% endif %}>
                    2+ Bathrooms
                </option>
                <option value="3" {% if '3' == filters.getBathrooms|split(',')[0] %}selected="selected"{% endif %}>
                    3+ Bathrooms
                </option>
                <option value="4" {% if '4' == filters.getBathrooms|split(',')[0] %}selected="selected"{% endif %}>
                    4+ Bathrooms
                </option>
            </select>
            <select id="filter-sq-ft" class="chosen-select">
                <option value="">Square Footage</option>
                <option value="0-2499">
                    Less than 2,500
                </option>
                <option value="2500-3000">
                    2,500 to 3,000
                </option>
                <option value="3001-3500">
                    3,001 to 3,500
                </option>
                <option value="3501-">
                    More than 3,500
                </option>
            </select>
            <select multiple="multiple" id="filter-homeFeatures">
                <option value="master_downstairs">Master Downstairs</option>
                <option value="single_story">Single Story</option>
            </select>

        </div>
        {# <input type="checkbox" id="filter-includePlans" class="pull-right" value="yes"
               {% if filters.shouldIncludePlans %}checked="checked"{% endif %}/>
        <label for="filter-includePlans">Include Plans</label> #}

        {#<button type="button" class="hidden-sm hidden-xs more-button">More</button>#}
        {#<div class="more-options">#}
        {#<select id="filter-lastUpdate">#}
        {#<option value="">Listing Change Date</option>#}
        {#<option value="1">Yesterday or less</option>#}
        {#<option value="5">5 days ago or less</option>#}
        {#<option value="15">15 days ago or less</option>#}
        {#<option value="30">30 days ago or less</option>#}
        {#<option value="100">100 days ago or less</option>#}
        {#</select>#}
        {#<select id="filter-communityAmenities">#}
        {#<option value="">Community Amenities</option>#}
        {#<option value="golf">Golf</option>#}
        {#<option value="tennis">Tennis</option>#}
        {#<option value="club-house">Club House</option>#}
        {#<option value="neighborhood-pool">Neighborhood Pool</option>#}
        {#<option value="exercise-area">Exercise Area</option>#}
        {#<option value="kids-play-park">Kids Play Park</option>#}
        {#<option value="gated-community">Gated Community</option>#}
        {#<option value="handicap-equipped">Handicap Equipped</option>#}
        {#<option value="walking-jogging-trails">Walking/Jogging Trails</option>#}
        {#<option value="boat-ramp">Boat Ramp</option>#}
        {#<option value="boat-storage">Boat Storage</option>#}
        {#<option value="marina">Marina</option>#}
        {#<option value="horses-ok">Horses Ok</option>#}
        {#</select>#}
        {#<select id="filter-sqft">#}
        {#<option value="">Square Footage</option>#}
        {#{% for i in range(500, 4500, 500) %}#}
        {#<option value="{{ i }}-{{ i + 500 }}">{{ i }} - {{ i + 500 }} sqft</option>#}
        {#{% endfor %}#}
        {#</select>#}
        {#<select id="filter-acreage">#}
        {#<option value="">Acreage</option>#}
        {#<option value="0-1">0-1 acres</option>#}
        {#<option value="1-3">1-3 acres</option>#}
        {#<option value="3-5">3-5 acres</option>#}
        {#<option value="5-10">5-10 acres</option>#}
        {#<option value="10-20">10-20 acres</option>#}
        {#<option value="20+">20+ acres</option>#}
        {#</select>#}
        {#<select multiple="multiple" id="filter-homeFeatures">#}
        {#<option value="dock">Dock</option>#}
        {#<option value="pool">Pool</option>#}
        {#<option value="fireplace">Fireplace</option>#}
        {#<option value="elevator">Elevator</option>#}
        {#<option value="garage">Garage</option>#}
        {#<option value="master-downstairs">Master Downstairs</option>#}
        {#</select>#}
        {#<select multiple="multiple" id="filter-view">#}
        {#<option value="beachfront">Beachfront</option>#}
        {#<option value="beach-access">Beach Access</option>#}
        {#<option value="oceanview">Oceanview</option>#}
        {#<option value="riverfront">Riverfront</option>#}
        {#<option value="waterfront-deep">Waterfront - Deep</option>#}
        {#<option value="tidal-creek">Tidal Creek</option>#}
        {#<option value="on-golf-course">On Golf Course</option>#}
        {#<option value="marshfront">Marshfront</option>#}
        {#<option value="marshview">Marshview</option>#}
        {#<option value="lakefront">Lakefront</option>#}
        {#<option value="lagoon">Lagoon</option>#}
        {#<option value="wooded">Wooded</option>#}
        {#</select>#}
        {#</div>#}
    </div>
</div>