<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js print-sheet"> <!--<![endif]-->
    <head>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
        <META HTTP-EQUIV="Expires" CONTENT="-1"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Print Property</title>
        <meta name="description" content="{{ seo_description }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ template_uri }}/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ template_uri }}/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ template_uri }}/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ template_uri }}/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ template_uri }}/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ template_uri }}/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ template_uri }}/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ template_uri }}/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ template_uri }}/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ template_uri }}/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ template_uri }}/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ template_uri }}/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ template_uri }}/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ template_uri }}/img/favicons/manifest.json">

        <link rel="stylesheet" href="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/style.css"/>

        <script src="https://use.typekit.net/slu5gfl.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>


    </head>
    <body class="print">

        <div class="container">
            {% for property in properties %}
            <div class="row listing-header">
                <div class="col-xs-12 cx-logo">
                    {% if loop.first %}
                    <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo.png">
                    {% endif %}
                    <div class="listing-address">
                        {{ property.getAddress }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="listing-image">
                    <img src="{{ property.getImages[0]|resize(800,485) }}">
                </div>
            </div>
            <div class="row text-center">
                <div class="listing-specs">
                    <span class="listing-specs-headline">${{ property.getPurchaseListPrice|number_format }}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;{% if property.getTotalAreaSquareFootage %}{{ property.getTotalAreaSquareFootage|number_format(numDecimalPlaces) }} {{ property.getTotalAreaSquareFootageUnitOfMeasurement }}{% endif %}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;{{ property.getBuilder }}</span>
                    <br/>
                    {% if property.getBedroomCount %}{{ property.getBedroomCount }} Bedrooms / {% endif %}{% if property.getFullBathroomCount %}{{ property.getFullBathroomCount }} Full Baths / {% endif %}{% if property.getHalfBathroomCount %}{{ property.getHalfBathroomCount }}  Half Bath{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="listing-details">
                    {{ property.getDescription }}
                </div>
            </div>
            <div class="row">
                <div class="listing-image-group">
                    <div class="col-xs-3">
                        <img src="{{ property.getImages[1]|resize(300,200) }}" class="img-responsive">
                    </div>
                    <div class="col-xs-3">
                        <img src="{{ property.getImages[2]|resize(300,200) }}" class="img-responsive">
                    </div>
                    <div class="col-xs-3">
                        <img src="{{ property.getImages[3]|resize(300,200) }}" class="img-responsive">
                    </div>
                    <div class="col-xs-3">
                        <img src="{{ property.getImages[4]|resize(300,200) }}" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="listing-footer">
                <div class="row">
                    <div class="col-xs-4 text-left">
                        <p>(843) 761-8600</p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo.png">
                    </div>
                    <div class="col-xs-4 text-right">
                        <p>CarnesCharleston.com</p>
                    </div>
                </div>
                <div class="listing-disclaimer">&copy; Carnes Crossroads Real Estate. Chuck Buck, Broker-in-charge. Information deemed reliable, but not guaranteed. Availability and pricing subject to change.</div>
            </div>
            {% endfor %}
        </div>

        <div class="container">
            {% for property in properties %}
            <div class="row listing-header">
                <div class="col-xs-12 cx-logo">
                    {% if loop.first %}
                    <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo.png">
                    {% endif %}
                    <div class="listing-address">
                        {{ property.getAddress }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="listing-floorplan">
                    <img src="{{ property.getFloorPlanDocumentLink }}" class="img-responsive">
                </div>
            </div>
            <div class="listing-footer">
                <div class="row">
                    <div class="col-xs-4 text-left">
                        <p>(843) 761-8600</p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo.png">
                    </div>
                    <div class="col-xs-4 text-right">
                        <p>CarnesCharleston.com</p>
                    </div>
                </div>
                <div class="listing-disclaimer">&copy; Carnes Crossroads Real Estate. Chuck Buck, Broker-in-charge. Information deemed reliable, but not guaranteed. Availability and pricing subject to change.</div>
            </div>
            {% endfor %}
        </div>

    <script>
    window.print();
    </script>

    </body>
</html>