<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js print-sheet"> <!--<![endif]-->
    <head>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
        <META HTTP-EQUIV="Expires" CONTENT="-1"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Print Property</title>
        <meta name="description" content="{{ seo_description }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="apple-touch-icon-precomposed" href="{{ template_uri }}/img/apple-icon.png"/>
        <link rel="shortcut icon" href="{{ template_uri }}/img/favicon.ico" sizes="32x32"/>
        <link rel="stylesheet" href="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/style.css"/>
        <script src="https://use.typekit.net/slu5gfl.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>

    <body class="print print-sampler">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 logo-header">
                    <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo.png">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Carnes Crossroads Property Sampler</h1>
                </div>
            </div>
            <div class="row">
                {% for property in properties %}
                <div class="col-xs-4 listing-item">
                    <div class="listing-image" style="background-image: url({{ property.getImages[0]|resize(400,300) }})"></div>
                    <h2>{{ property.getNeighborhood.title }}</h2>
                    <h3>{{ property.getAddress }}</h3>
                    <p class="listing-details">{% set numDecimalPlaces = 0 %}
                        {% if property.getPropertyType == 'Homesite' %}
                        {% set numDecimalPlaces = 2 %}
                        {% endif %}
                        {% if property.getBedroomCount %}{{ property.getBedroomCount }} BR / {% endif %}{% if property.getFullBathroomCount %}{{ property.getFullBathroomCount }} Full Bath{% endif %}{% if property.getHalfBathroomCount %} / {{ property.getHalfBathroomCount }} Half Bath{% endif %}
                            <br/>{% if property.getTotalAreaSquareFootage %}{{ property.getTotalAreaSquareFootage|number_format(numDecimalPlaces) }} {{ property.getTotalAreaSquareFootageUnitOfMeasurement }}{% endif %}</p>
                    <p class="listing-price">${{ property.getPurchaseListPrice|number_format }}</p>
                    <p>{{ property.getShortDescription }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="sampler-foot">
                    <div class="col-xs-2">
                        <img class="footer-logo" src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo.png">
                    </div>
                    <div class="col-xs-10">
                        <p>Carnes Crossroads Real Estate&nbsp;&nbsp;|&nbsp;&nbsp;513 Wodin Place, Summerville, SC 29483&nbsp;&nbsp;|&nbsp;&nbsp;(843) 761-8600</p>
                        <p><img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/icon-social-tw.png">&#64;CarnesCrossroads&nbsp;&nbsp;
                        <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/icon-social-fb.png">facebook.com/CarnesCrossroads
                        &nbsp;&nbsp;|&nbsp;&nbsp;For complete listings, visit <a href="http://www.carnescharleston.com/home-finder/search/?includePlans=true">www.carnescharleston.com</a></p>
                        <p class="disclaimer">Obtain the Property Report required by Federal Law and read before signing anything. No Federal Agency has judged the merits or value, if any, of this property. Availability and pricing are subject to change. Rick Vale, Broker in charge&nbsp;&nbsp;|&nbsp;&nbsp;Feb. 18, 2016</p>
                    </div>
                </div>
            </div>
        </div>
        <script>
//            window.print();
        </script>

    </body>
</html>