<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js print-sheet"> <!--<![endif]-->
    <head>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
        <META HTTP-EQUIV="Expires" CONTENT="-1"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Print Property</title>
        <meta name="description" content="{{ seo_description }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="apple-touch-icon-precomposed" href="{{ template_uri }}/img/apple-icon.png"/>
        <link rel="shortcut icon" href="{{ template_uri }}/img/favicon.ico" sizes="32x32"/>
        <link rel="stylesheet" href="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/style.css"/>

        <script src="https://use.typekit.net/slu5gfl.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>

    <body class="print-sampler">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 logo-header">
                    <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo_realestate.png">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Carnes Crossroads Property Sampler</h1>
                </div>
            </div>
            <div class="row">
                {% for property in properties %}
                <div class="col-xs-4 listing-item">
                    <div class="listing-image" style="background-image: url({{ property.getImages[0]|resize(300,200) }})"></div>
                    <h2>{{ property.getNeighborhood.title }}</h2>
                    <h3>{{ property.getAddress }}</h3>
                    <p class="listing-details">{% set numDecimalPlaces = 0 %}
                        {% if property.getPropertyType == 'Homesite' %}
                        {% set numDecimalPlaces = 2 %}
                        {% endif %}
                        {% if property.getBedroomCount %}{{ property.getBedroomCount }} BR / {% endif %}{% if property.getFullBathroomCount %}{{ property.getFullBathroomCount }} Full Bath{% endif %}{% if property.getHalfBathroomCount %} / {{ property.getHalfBathroomCount }} Half Bath{% endif %}
                            <br/>{% if property.getTotalAreaSquareFootage %}{{ property.getTotalAreaSquareFootage|number_format(numDecimalPlaces) }} {{ property.getTotalAreaSquareFootageUnitOfMeasurement }}{% endif %}</p>
                    <p class="listing-price">${{ property.getPurchaseListPrice|number_format }}</p>
                    <p>{{ property.getShortDescription }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container builders-container">
            <div class="row sampler-model-intro">
                <div class="sampler-model-row"></div>
                <div class="col-xs-12">
                    <h1>Visit Our Model Row!</h1>
                    <p>Showcasing beautiful homes built by <em>David Weekley Homes, Sabal Homes, Eastwood Homes</em> and <em>Ashton Wood Homes</em>, the Carnes Crossroads Model Row is a wonderful place to learn about all of our builders in one, central location.</p>
                    <p>Located just minutes from the conveniences of Summerville and Goose Creek, Carnes Crossroads will offer the lifestyle of a small town, with charming neighborhoods, beautiful parks, lakes, and close proximity to stores, shops, restaurants, offices, schools, and church.</p>
                    <p>Across from the historic Green Barn, our Information Center is your first stop for learning more about Carnes Crossroads. We are open 7 days a week, with or without an appointment. Stop by to tour our move-in ready homes or go to CarnesCrossroads.com/home-finder or call (843)761-8600.</p>
                </div>
            </div>
            <div class="row sampler-builder-row">
                <div class="col-xs-4 text-center">
                    <div class="sampler-builder-photo" style="background-image: url({{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/cc-featured-weiland.jpg)"></div>
                    <h2>David Weekley Homes</h2>
                    <p>David Weekely offers classic homes with a timeless appeal. Plans range from 2-5 beedrooms and 1,700-2,5000+ square feet.</p>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="sampler-builder-photo" style="background-image: url({{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/cc-featured-weiland.jpg)"></div>
                    <h2>Sabal Homes</h2>
                    <p>Sabal Homes offers a variety of unique customizations based on homebuyers needs. Plans range from 3-5 bedrooms and 1,600-3,100+ square feet.</p>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="sampler-builder-photo" style="background-image: url({{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/cc-featured-weiland.jpg)"></div>
                    <h2>Eastwood Homes</h2>
                    <p>Eastwood Homes takes pride in offering attractive exteriors and interiors at an unprecedented value. Plans range from 3-4 bedrooms and 1,900-2,600+ square feet.</p>
                </div>
            </div>
            <div class="row sampler-builder-row">
                <div class="col-xs-4 text-center">
                    <div class="sampler-builder-photo" style="background-image: url({{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/sampler-ashton.jpg)"></div>
                    <h2>Ashton Woods Homes</h2>
                    <p>Ashton Woods features homes that are inspired by forward-thinking design concepts. Plans range from 3-6 bedrooms and 1,900-3,000+ square feet.</p>
                </div>
                <div class="col-xs-4">
                    <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo_realestate.png" class="img-responsive">
                </div>
                <div class="col-xs-4 text-center">
                    <div class="sampler-builder-photo" style="background-image: url({{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/sampler-wieland.jpg)"></div>
                    <h2>John Wieland Homes</h2>
                    <p>John Wieland Homes sets new standards in meeting the evolving needs of today’s new home buyer. Plans range from 3-4 bedrooms and 2,150-2,275 square feet.</p>
                </div>
            </div>
            <div class="row">
                <div class="sampler-foot">
                    <div class="col-xs-2">
                        <img class="footer-logo" src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/carnes_logo_realestate.png">
                    </div>
                    <div class="col-xs-10">
                        <p>Carnes Crossroads Real Estate&nbsp;&nbsp;|&nbsp;&nbsp;513 Wodin Place, Summerville, SC 29483&nbsp;&nbsp;|&nbsp;&nbsp;(843) 761-8600</p>
                        <p><img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/icon-social-tw.png">&#64;CarnesCrossroads&nbsp;&nbsp;
                        <img src="{{ template_uri }}/wp-content/themes/carnes-crossroads-2015/img/icon-social-fb.png">facebook.com/CarnesCrossroads
                        &nbsp;&nbsp;|&nbsp;&nbsp;For complete listings, visit <a href="http://www.carnescharleston.com/home-finder/search/?includePlans=true">www.carnescharleston.com</a></p>
                        <p class="disclaimer">Obtain the Property Report required by Federal Law and read before signing anything. No Federal Agency has judged the merits or value, if any, of this property. Availability and pricing are subject to change. Rick Vale, Broker in charge&nbsp;&nbsp;|&nbsp;&nbsp;Feb. 18, 2016</p>
                    </div>
                </div>
            </div>
        </div>
        <script>
//            window.print();
        </script>

    </body>
</html>