{% set activePropertyId = activeProperty.getId %}

{% for property in properties %}
<div class="col-lg-6">
    <div class="map-save">
        <div class="save action-link">
            <div class="saved"
                 {% if current_user.hasSavedProperty(property) == false %}style="display:none;"{% endif %}>
                <a href="#" data-property-id="{{ property.id }}">
                    <div class="heart-icon">
                        <img src="/wp-content/themes/carnes-crossroads-2015/img/favorite-icon-on.png" width="41" height="37"/>
                    </div>
                </a>
            </div>
            <div class="not-saved"
                 {% if current_user.hasSavedProperty(property) == true %}style="display:none;"{% endif %}>
                <a href="#" data-property-id="{{ property.id }}">
                    <div class="heart-icon">
                        <div class="heart-icon">
                            <img src="/wp-content/themes/carnes-crossroads-2015/img/favorite-icon-off.png" width="41" height="37"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <a href="/home-finder/properties/{{ property.getAddress|slugify }}/{{ property.getId }}" class="map-results-link">
        <div class="map-results-box">
            <div class="map-box-image" style="background:url('{{ property.getFeaturedImageSrc }}') no-repeat 50% 50%; background-size: cover;"></div>
            <div class="map-box-content">
                <div class="map-address">
                    {{ property.getAddress }}
                </div>
                <div class="map-details">
                    {% if property.getBedroomCount or property.getFullBathroomCount or property.getHalfBathroomCount %}
                    <div class="specs">
                        {% if property.getBedroomCount %}{{ property.getBedroomCount }} BR /{% endif %}
                        {% if property.getFullBathroomCount %}{{ property.getFullBathroomCount }} BA {% endif %}
                        {% if property.getHalfBathroomCount %}/ {{ property.getHalfBathroomCount }}  Half BA / {% endif %}
                        {{ property.getTotalAreaSquareFootage|number_format(numDecimalPlaces) }} {{ property.getTotalAreaSquareFootageUnitOfMeasurement }}
                    </div>
                    {% else %}
                    <br>
                    {% endif %}
                    {% set numDecimalPlaces = 0 %}
                    {% if property.getPropertyType == 'Homesite' %}
                    {% set numDecimalPlaces = 2 %}
                    {% endif %}
                    <div class="price">${{ property.getPurchaseListPrice|number_format }}</div>
                </div>
                <div class="type-box">{{ property.getPropertyType }}{% if property.getPropertyType and property.getNeighborhood.title %} | {% endif %}{{ property.getNeighborhood.title }}</div>
            </div>
        </div>
    </a>
</div>
{% endfor %}

{% if properties|length > 0 %}
<script>
    if (typeof locations === 'undefined') {
        locations = [];
    }

    {% for property in properties %}
    {% if property.latitude and property.longitude and property.isFromPropertyBase %}

    locations.push([
        '{{ property.address_web }}',
        '{{ property.latitude }}',
        '{{ property.longitude }}',
        '4',
        '{{ property.link }}',
        '{% filter combineLines|escape('js') %}{% include 'partials/home-finder/map-tool-tip.twig' with { property: property } only %}{% endfilter %}',
        {% if property.getPropertyType == 'Homesite' %}0{% else %}'{{ property.getPropertyType }}'{% endif %}
    ]);

     {% endif %}
     {% endfor %}
</script>
{% endif %}