{% extends 'base.twig' %}
{% block template %}

<section class="hero__home" id="intro-video">
    <div class="hero__content-wrap">
        <h1>Featured Headline about life at Carnes Crossroads.</h1>
        <div class="play-btn-container">
            <a href="{{ video_src }}" data-video-height="1080" data-video-width="1920" class="cnicon-play video-play"><span class="play-icon"><img src="{{ template_uri }}/img/play-icon_x2.png"/></span></a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">View Move-In Ready Homes <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
            </ul>
        </div>
        <a class="btn btn-green">Search</a>
        <div class="hero__map-link"><a href="#">View Area Map</a></div>
    </div>

    <img class="ie-only bg" src="{{ template_uri }}/img/bg-hero-home.jpg">
    <video loop poster="{{ template_uri }}/img/bg-hero-home.jpg">
        <source src="http://dlpnyk6xy3bg9.cloudfront.net/60_noAudio.webm" type="video/webm">
        <source src="http://dlpnyk6xy3bg9.cloudfront.net/60_noAudio.mp4"  type="video/mp4">
    </video>
</section>

<section class="page-content--white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                {% for item in page.getTopFeaturedPrimaryItems %}
                    <div class="block--large" {% if item.video_src %}data-video-src="{{ item.video_src }}"{% endif %}
                         style="background-image: url('{{ item.image.get_src }}');">
                    <div class="block-tab--bottom-left">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.subtitle }}</p>
                        <a href="{{ item.button.link }}" class="block-tab__link">{{ item.button.title }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-md-4">
                {% for item in page.getTopFeaturedSecondaryItems %}
                    <div class="block--small" {% if item.video_src %}data-video-src="{{ item.video_src }}"{% endif %}
                         style="background-image: url('{{ item.image.get_src }}');">
                    <div class="block-tab--bottom-right">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.subtitle }}</p>
                        <a href="{{ item.button.link }}" class="block-tab__link">{{ item.button.title }}</a>
                    </div>
                </div>
                {% endfor %}
                <div class="block--button-red" style="background-image: url({{ template_uri }}/img/bg-button-whats-new.jpg);">
                    {% for item in page.getTopFeaturedTertiaryItems %}
                    <div class="block__button-inner">
                        <a href="{{ item.button.link }}"><span></span></a>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.subtitle }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-content--tan">
    <div class="container">
        <div class="row">
            <h3 class="pull-left">Headline about the community &amp; lifestyle</h3>
            <div class="slider-lg__controls pull-right">
                <span class="prev-lg"></span>
                <span class="next-lg"></span>
            </div>
        </div>
        <div class="row slider-lg__wrap slider-lg">
            {% for item in page.getHorizontalSliderItems %}
                <div class="slider-lg__item" style="background-image: url('{{ item.image.get_src }}');">
                    <div class="block-tab--full-bottom">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="page-content--white-floral">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                {% for item in page.getBottomFeaturedPrimaryItems %}
                    <div class="block--large" style="background-image: url('{{ item.image.get_src }}');">
                    <div class="block-tab--top-left">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.subtitle }}</p>
                        <a href="{{ item.button.link }}" class="block-tab__link">{{ item.button.title }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-md-4">
                {% for item in page.getBottomFeaturedSecondaryItems %}
                    <div class="block--small" style="background-image: url('{{ item.image.get_src }}');">
                    <div class="block-tab--bottom-right">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.subtitle }}</p>
                        <a href="{{ item.button.link }}" class="block-tab__link">{{ item.button.title }}</a>
                    </div>
                </div>
                {% endfor %}
                <div class="block--button-orange" style="background-image: url({{ template_uri }}/img/bg-button-news.jpg);">
                    {% for item in page.getBottomFeaturedTertiaryItems %}
                    <div class="block__button-inner">
                        <a href="{{ item.button.link }}"><span></span></a>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.subtitle }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/contact-foot.twig" %}

{% endblock %}