{% extends 'base.twig' %}
{% block template %}

<section class="hero__article" style="background-image: url({{ template_uri }}/img/CX-Home1.jpg)">
    <div class="hero__content-tab-orange">
        <div class="hero__content-inner">
            <h1>{{ post.category }}</h1>
        </div>
    </div>
</section>

<section class="page-content--white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 category-list">
                <h4>Follow Us</h4>
                <hr>
                <ul class="category-list__social">
                    <li class="footer__social-item"><a href="https://www.twitter.com/carnesxroads"><img src="{{ template_uri }}/img/icon-social-tw.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.facebook.com/CarnesCrossroads"><img src="{{ template_uri }}/img/icon-social-fb.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.youtube.com/user/CarnesXroads"><img src="{{ template_uri }}/img/icon-social-yt.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.instagram.com/carnescrossroads/"><img src="{{ template_uri }}/img/icon-social-ig.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.pinterest.com/carnesxroads/"><img src="{{ template_uri }}/img/icon-social-pn.png"/></a></li>
                    <li class="footer__social-item"><a href="https://plus.google.com/u/0/+Carnescharleston"><img src="{{ template_uri }}/img/icon-social-goog.png"/></a></li>
                </ul>
                <h4>Categories</h4>
                <hr>
                <ul class="category-list__categories">
                    {% for category in categories %}
                        <li class="category-list__item"><a href="{{ category.link }}">{{ category.name }}</a></li>
                    {% endfor %}
                    <li class="category-list__item"><a href="/category/all/">View All</a>
                </ul>
            </div>

             <div class="col-xs-12 col-md-8 col-md-offset-1 category-items__article">
                <h2>{{ post.title }}</h2>
                 <p class="category-items__article-date">{{ post.date }}
                     &nbsp;&nbsp;|&nbsp;&nbsp;{% for term in post.terms('category') %}<a
                     href="{{ term.link }}">{{ term.name }}</a>{% if loop.last == faslse %},{% endif %}{% endfor %}
                 </p>
                 <img src="{{ post.thumbnail.src|resize(790,395) }}">
                <p>{{ post.content }}</p>

                 {% for image_row in post.getGallery|batch(4) %}
                     <div class="row gallery-row">
                         {% for image in image_row %}
                             <div class="col-md-3">
                                 <img src="{{ image.src|resize(720,573) }}" class="img-responsive"/>
                             </div>
                         {% endfor %}
                     </div>
                 {% endfor %}

             </div>

        </div>
    </div>
</section>

{% include "partials/link-widgets.twig" %}

{% include "partials/contact-foot.twig" %}

{% endblock %}