{% extends 'base.twig' %}
{% block template %}

<section class="hero__page" style="background-image: url({{ template_uri }}/img/bg-hero-events.jpg)">
    <div class="hero__content-tab-orange">
        <div class="hero__content-inner">
            <h1>Events</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        <div class="row extra-bottom">
            <div class="col-xs-12 col-md-4">
                <div class="calendar">
                    {{ function('build_calendar', 12, 2015, []) }}
                </div>
            </div>
            <div class="col-xs-12 col-md-7 col-md-offset-1 events-headline-contact">
                <h2>Headline about the Events page and what information visitors will find here.</h2>
                <div class="row">
                    <h4>Sign up for our monthly newsletter.</h4>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-lg-5">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <a class="btn btn-green">Submit</a>
            </div>
        </div>
        {# COMMUNITY SLIDER #}
        <div class="row">
            <h3 class="pull-left">Headline about the community &amp; lifestyle</h3>
            <div class="slider-lg__controls pull-right">
                <span class="prev-lg"></span>
                <span class="next-lg"></span>
            </div>
        </div>
        <div class="row slider-lg__wrap slider-lg">
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-1.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Schools</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-2.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Parks &amp; Trails</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-3.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Amenities</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-4.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Shopping &amp; Dining</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-5.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>The Green Barn</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
        </div>

        {# LOCAL SLIDER #}
        <div class="row extra-top">
            <h3 class="pull-left">Headline about the community &amp; lifestyle</h3>
            <div class="slider-lg__controls pull-right">
                <span class="prev-lg"></span>
                <span class="next-lg"></span>
            </div>
        </div>
        <div class="row slider-lg__wrap slider-lg">
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-1.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Schools</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-2.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Parks &amp; Trails</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-3.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Amenities</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-4.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Shopping &amp; Dining</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-5.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>The Green Barn</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
        </div>

        {# SOCIAL SLIDER #}
        <div class="row extra-top">
            <h3 class="pull-left">Headline about the community &amp; lifestyle</h3>
            <div class="slider-lg__controls pull-right">
                <span class="prev-lg"></span>
                <span class="next-lg"></span>
            </div>
        </div>
        <div class="row slider-lg__wrap slider-lg">
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-1.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Schools</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-2.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Parks &amp; Trails</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-3.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Amenities</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-4.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Shopping &amp; Dining</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-5.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>The Green Barn</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
        </div>

    </div>
</section>

{% include "partials/link-widgets.twig" %}

{% include "partials/contact-foot.twig" %}

{% endblock %}