{% extends 'base.twig' %}
{% block template %}

    <section class="hero__page" style="background-image: url('{{ page.thumbnail.src }}')">
        <div class="hero__content-tab-{{ page.getHeroColor }}">
        <div class="hero__content-inner">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10">
                <div class="breadcrumbs">
                    {{ function('\\App\\Model\\Page::getBreadcrumbs') }}
                </div>

                {% if page.getQuestionAndAnswers %}
                <ul class="faq-set">
                    {% for faq in page.getQuestionAndAnswers %}
                    <li class="faq-item">
                        <img height="17px" src="{{ template_uri }}/img/plus-circle_360.png"/>
                        <span class="faq-question">{{ faq.question }}</span>
                        <span style="display:none;" class="faq-answer">{{ faq.answer|nl2br }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>

</section>

{% if page.getQuicklinkBoxes %}
{% include "partials/link-widgets.twig" %}
{% endif %}

{% include "partials/contact-foot.twig" %}

{% endblock %}