{% extends 'base.twig' %}
{% block template %}

<section class="hero__page" style="background-image: url({{ template_uri }}/img/bg-hero-events.jpg)">
    <div class="hero__content-tab-{{ page.getHeroColor }}">
        <div class="hero__content-inner">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">

        <div class="row events__headline-container">
            {% for post in featured_posts %}
            <div class="col-xs-12 col-md-4">
                <img src="{{ post.thumbnail.src }}"/>
                {#<div class="calendar">#}
                {#{{ function('build_calendar', 12, 2015, []) }}#}
                {#</div>#}
            </div>
            <div class="col-xs-12 col-md-8">
                <h2>{{ post.title }}</h2>
                <p>{{ post.content|truncate(80) }}</p>
                <a href="{{ post.link }}" class="btn btn-green">Read More</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="page-content events__form-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>{{ page.getContactFormTitle }}</h4>
                {{ function('gravity_form', page.getContactFormId, false, false) }}
            </div>
        </div>
    </div>
</section>
<section class="page-content--white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 category-list">
                <h4>Follow Us</h4>
                <hr>
                <ul class="category-list__social">
                    <li class="footer__social-item"><a href="https://www.twitter.com/carnesxroads"><img src="{{ template_uri }}/img/icon-social-tw.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.facebook.com/CarnesCrossroads"><img src="{{ template_uri }}/img/icon-social-fb.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.youtube.com/user/CarnesXroads"><img src="{{ template_uri }}/img/icon-social-yt.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.instagram.com/carnescrossroads/"><img src="{{ template_uri }}/img/icon-social-ig.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.pinterest.com/carnesxroads/"><img src="{{ template_uri }}/img/icon-social-pn.png"/></a></li>
                    <li class="footer__social-item"><a href="https://plus.google.com/u/0/+Carnescharleston"><img src="{{ template_uri }}/img/icon-social-goog.png"/></a></li>
                </ul>
                <h4>Categories</h4>
                <hr>
                <ul class="category-list__categories">
                    {% for category in categories %}
                    <li class="category-list__item"><a href="{{ category.link }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-xs-12 col-md-9">
                {# EVENTS SLIDER #}
                {% if tribe_events %}
                <div>
                <div class="row">
                    <h3 class="pull-left">Community Events &amp; Information</h3>
                    <div class="slider-lg__controls pull-right">
                        <span class="prev-lg"></span>
                        <span class="next-lg"></span>
                    </div>
                </div>
                    {% for event in tribe_events %}
                <div class="row slider-lg__wrap slider-lg">
                    <div class="slider-lg__item" style="background-image: url({{ function('wp_get_attachment_url', function('get_post_thumbnail_id', event.ID)) }});">
                        <a href="#" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="{{ function('get_permalink', event.ID) }}"><h3>{{ event.post_title }}</h3></a>
                            <p>{{ event.EventStartDate|date }}</p>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                </div>
                {% endif %}

                {# NEWS SLIDER #}
                <div>
                <div class="row extra-top">
                    <h3 class="pull-left">Recent News</h3>
                    <div class="slider-lg__controls pull-right">
                        <span class="prev-lg"></span>
                        <span class="next-lg"></span>
                    </div>
                </div>
                <div class="row slider-lg__wrap slider-lg">
                    {% for post in recent_posts %}
                        <div class="slider-lg__item"
                             style="background-image: url({{ post.thumbnail.src|resize(335,317) }});">
                            <a href="{{ post.link }}" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="{{ post.link }}"><h3>{{ post.title }}</h3></a>
                            <p>{{ post.display_date }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>

                {# SOCIAL SLIDER #}
                <div>
                <div class="row extra-top">
                    <h3 class="pull-left">Social Feed</h3>
                    <div class="slider-lg__controls pull-right">
                        <span class="prev-lg"></span>
                        <span class="next-lg"></span>
                    </div>
                </div>
                <div class="row slider-lg__wrap slider-lg">
                    {% for social_post in social_feed %}
                        {% if social_post.social_post_type == 'facebook' %}
                            <div class="slider-lg__item">
                                <div class="social-quote">
                                    {{ social_post.social_post_message|truncate(15) }}
                                </div>
                                <a href="{{ social_post.social_post_link }}" class="slider-lg__item-link"></a>
                                <div class="block-tab--full-bottom">
                                    <a href="https://www.facebook.com/CarnesCrossroads" target="blank"><h3>Carnes
                                            Crossroads</h3></a>
                                    <p>{{ social_post.social_post_created_time|date('M d, Y') }}</p>
                                    <a href="https://www.facebook.com/CarnesCrossroads" target="blank"><img
                                                src="{{ template_uri }}/img/icon-social-fb.png"
                                                class="slider-lg__social"></a>
                                </div>
                            </div>
                        {% elseif social_post.social_post_type == 'instagram' %}
                            <div class="slider-lg__item"
                                 style="background-image: url({{ social_post.social_post_image_src }});">
                        <a href="{{ social_post.social_post_link }}" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="{{ social_post.social_post_link }}" target="blank"><h3>CarnesCrossroads</h3></a>
                            {{ social_post.social_post_message }}
                            <a href="https://www.instagram.com/carnescrossroads/" target="blank"><img src="{{ template_uri }}/img/icon-social-ig.png" class="slider-lg__social"></a>
                        </div>
                    </div>
                        {% elseif social_post.social_post_type == 'youtube' %}
                            <div class="slider-lg__item"
                                 style="background-image: url({{ social_post.social_post_image_src }});">
                                <a href="{{ social_post.social_post_link }}" class="slider-lg__item-link"></a>
                                <div class="block-tab--full-bottom">
                                    {{ social_post.social_post_message|truncate(12) }}
                                    <a href="https://www.instagram.com/CarnesXroads/" target="blank"><img
                                                src="{{ template_uri }}/img/icon-social-yt.png"
                                                class="slider-lg__social"></a>
                                </div>
                            </div>
                        {% elseif social_post.social_post_type == 'twitter' %}
                            <div class="slider-lg__item">
                        <div class="social-quote">
                            {{ social_post.social_post_message|twitterify }}
                        </div>
                                <a href="{{ social_post.social_post_link }}" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="https://www.twitter.com/carnesxroads" target="blank"><h3>@carnesxroads</h3></a>
                            <p>{{ social_post.social_post_created_time|date('M d, Y') }}</p>
                            <a href="https://www.twitter.com/carnesxroads" target="blank"><img src="{{ template_uri }}/img/icon-social-tw.png" class="slider-lg__social"></a>
                        </div>
                    </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}


                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/link-widgets.twig" %}

{% include "partials/contact-foot.twig" %}

{% endblock %}