{% extends 'base.twig' %}
{% block template %}

<section class="hero__page" style="background-image: url('{{ page.thumbnail.src }}')">
    <div class="hero__content-tab-orange">
        <div class="hero__content-inner">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        <div class="row extra-bottom">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2>Short descriptor about the home builders in Carnes Crossroads.</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="youtube-video-wrapper">
                    <iframe src="https://www.youtube.com/embed/dU7H4Kb3tn8" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="builder-logo">
                    <img src="{{ template_uri }}/img/builder-johnwieland.png">
                </div>
                <a href="{{ site.link }}/wp-content/uploads/2016/01/features-johnwieland.pdf" target="new" class="btn-green builder-btn">Standard Features</a>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 text-left">
                <h4>John Wieland Homes</h4>
                <p>Founded in Atlanta, GA by John Wieland in 1970, John Wieland Homes and Neighborhoods set out to be a different kind of homebuilding company.  Now the Southeast’s leading builder of exceptional new homes and neighborhoods, John Wieland continues to set new standards in meeting the evolving needs of today’s new home buyer.</p>

                <p>Today, the John Wieland team continues its commitment to delivering the best for each and every new home buyer, guided by the company’s enduring core values, known as ep²ic: Excellence, Passion, Presentation, Integrity, Completeness.</p>

                <p>John Wieland Homes has earned numerous awards and industry recognition including:
                    <ul>
                        <li>National Builder of the Year, awarded by Professional Builder Magazine and National Association of Home Builders</li>
                        <li>National Housing Quality Award, sponsored by the National Association of Home Builders Research Center and the Reed Residential Group, publisher of Professional Builder Magazine</li>
                        <li>America’s Best Builder, presented by the National Association of Home Builders and BUILDER Magazine</li>
                    </ul>
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="youtube-video-wrapper">
                    <iframe src="https://www.youtube.com/embed/T1-81AfaeJs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="builder-logo">
                    <img src="{{ template_uri }}/img/builder-ashtonwoods.png">
                </div>
                <a href="{{ site.link }}/wp-content/uploads/2016/01/features-ashtonwoods.pdf" target="new" " class="btn-green builder-btn">Standard Features</a>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 text-left">
                <h4>Ashton Woods</h4>
                <p>Design, Personalization, Possibilities</p>

                <p>Ashton Woods believes that the the key to a truly inspired home lives outside the world of homebuilding. And they strive to go where no other homebuilder has gone before. Where is that exactly? Anywhere that inspires. Together with homeowners, they look to inspire beyond the conventional and draw from places like art, architecture, music, even fashion. They take pride in blazing new trails in design and building homes that reflect the unique people who live in them.</p>

                <p>Today, Ashton Woods has new homes for sale in Atlanta, Austin, Charleston, Dallas, Houston, Killeen, Orlando, Phoenix, Raleigh, San Antonio, Sarasota, Tampa and Naples, Florida.</p>

                <p>Ashton Woods’ many awards and accolades include:
                    <ul>
                        <li>Builder 100’s 6th largest private national builder in closings, 2012</li>
                        <li>America’s #1 Most Trusted Builder in the Lifestory Research Most Trusted Builder’s Study SM 2013</li>
                        <li>Only builder to nationally utilize Platinum Environments for Living ™ Program</li>
                        <li>EPA’s Leadership in Housing Award</li>
                        <li>Named 2013 Best Place to Work by Atlanta Business Chronicle</li>
                    </ul>
                </p>
            </div>
        </div>
        <hr>

       <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="youtube-video-wrapper">
                    <iframe src="https://www.youtube.com/embed/SjwKVOBwTSs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="builder-logo">
                    <img src="{{ template_uri }}/img/builder-davidweekley.png">
                </div>
                <a href="{{ site.link }}/wp-content/uploads/2016/01/features-davidweekley.pdf" target="new" " class="btn-green builder-btn">Standard Features</a>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 text-left">
                <h4>David Weekley Homes</h4>
                <p>David Weekley Homes has been building award-winning homes since 1976 and in the Charleston area since 1997. By continually striving for excellence in quality, service and design, David Weekley has built a solid reputation for award-winning customer satisfaction.</p>

                <p>David Weekley builds classic homes that have a timeless appeal. They take pride in leaving no detail left untouched. By utilizing a unique LifeDesign™ concept, Weekley designs a home that lives as good as it looks and has a name that has become synonymous with innovative design.</p>

                <p>David Weekley Homes has earned numerous awards and industry recognition including:
                    <ul>
                        <li>2013 Builder of the Year by Professional Builder Magazine</li>
                        <li>Ranked No. 13 on Fortune 100 Best Companies to Work For® List</li>
                        <li>Blue Ribbon in the Parade of Homes/Panama City</li>
                        <li>American Institute of Building Design Grand Award/Orlando Parade of Homes</li>
                        <li>1st Place Best Product Design/Parade of Homes Orlando</li>
                        <li>J.D Power Customer Service Champion</li>
                        <li>Recipient of many Charleston Prism Awards</li>
                    </ul>
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="youtube-video-wrapper">
                    <iframe src="https://www.youtube.com/embed/lGl0x-OZvnI" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="builder-logo">
                    <img src="{{ template_uri }}/img/builder-eastwood.png">
                </div>
                <a href="{{ site.link }}/wp-content/uploads/2016/01/features-eastwood.pdf" target="new" " class="btn-green builder-btn">Standard Features</a>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 text-left">
                <h4>Eastwood Homes</h4>
                <p>Eastwood Homes has a solid reputation for building homes with outstanding craftsmanship while delivering unparalleled customer service. The company takes pride in offering attractive exterior elevations and beautiful interior design details at an unprecedented value.</p>

                <p>Eastwood has been building award-winning homes for 35 years.  In addition to offering unique elevations that create appealing and inviting streetscapes, their interior design details include sought-after design features such as decorative columns, moldings and tray ceilings.</p>

                <p>Eastwood has earned numerous awards and recognition including:
                    <ul>
                        <li>2012 Master Craftsmanship Award</li>
                        <li>2009 Builder of the Year by the Charlotte Homebuilders Association</li>
                        <li>2008 JD Power and Associates Awards</li>
                        <li>Builder of Integrity Award in 2004, 2006,  2008 and 2010</li>
                    </ul>
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="youtube-video-wrapper">
                    <iframe src="https://www.youtube.com/embed/SDXKnvS6Wsw" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="builder-logo">
                    <img src="{{ template_uri }}/img/builder-sabal.png">
                </div>
                <a href="{{ site.link }}/wp-content/uploads/2016/01/features-sabal.pdf" target="new" " class="btn-green builder-btn">Standard Features</a>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 text-left">
                <h4>Sabal Homes</h4>
                <p>Building locally in the Charleston area since 2005, Sabal Homes offers unique customizations that fit the needs of their homebuyers. For clients, this means flexibility, accessibility, value and peace of mind. Sabal has a passion for Lowcountry architecture and enjoys building quality homes in a variety of charming neighborhoods.</p>

                <p>Sabal Homes makes it a priority to listen carefully to their customers and it incorporates the feedback received into all aspects of their company, from the business plan to home floor plans. The company has earned numerous awards and industry recognition, including:
                    <ul>
                        <li>Guildmaster Award</li>
                        <li>2011 Housing Giants List presented by Professional Builder Magazine</li>
                        <li>Roaring Twenties Award presented by the Charleton Regional Business Journal</li>
                        <li>South Carolina’s Top 25 Fastest Growing Companies</li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</section>

{% if page.getQuicklinkBoxes %}
    {% include "partials/link-widgets.twig" %}
{% endif %}

{% include "partials/contact-foot.twig" %}

{% endblock %}