{% extends 'base.twig' %}
{% block template %}

<section class="hero__page" style="background-image: url('{{ page.thumbnail.src }}')">
    <div class="hero__content-tab-orange">
        <div class="hero__content-inner">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        <div class="row extra-bottom">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2>{{ page.getHeadline }}</h2>
            </div>
        </div>

        {% for builder in builders %}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% if builder.getFeaturedVideoSrc %}
                <div class="youtube-video-wrapper">
                    <iframe src="{{ builder.getFeaturedVideoSrc|youtubeify }}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}
                <div class="builder-info">
                    <div class="builder-logo">
                        <img src="{{ builder.thumbnail.src }}">
                    </div>
                    {% if builder.getStandardFeaturesSrc %}
                        <a href="{{ builder.getStandardFeaturesSrc }}" target="new" class="btn-green builder-btn">Standard Features</a>
                    {% endif %}
                </div>
                <div class="builders-links">
                    {% if builder.shouldShowAvailableHomesButton %}
                        <a href="/home-finder/search-listings/?builders[]={{ builder.title|slugify }}" class="arrow-link">Available Homes</a>
                    {% endif %}
                    {% if builder.shouldShowHomePlansButton %}
                        <a href="/home-finder/search-listings/?builders[]={{ builder.title|slugify }}&includePlans=true" class="arrow-link">View Home Plans</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 text-left">
                <h4>{{ builder.title }}</h4>
                {{ builder.content }}
            </div>
        </div>

            {% if loop.last == false %}
        <hr>
            {% endif %}
        {% endfor %}

    </div>
</section>

{% if page.getQuicklinkBoxes %}
    {% include "partials/link-widgets.twig" %}
{% endif %}

{% include "partials/contact-foot.twig" %}

{% endblock %}