{% extends 'base.twig' %}
{% block template %}


<section class="hero__page--homes" style="background-image: url('{{ page.thumbnail.src }}')">
    <div class="hero__content-wrap--homes">
        {% set hero = page.getHero %}
        <div class="hero__content-inner--homes">
            <h1>{{ hero.headline }}</h1>
            {% if hero.quicklinks %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">{{ hero.quicklinks[0].title }} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {% for quicklink in hero.quicklinks %}
                        <li><a href="{{ quicklink.link }}">{{ quicklink.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <a class="btn btn-green" href="{{ hero.quicklinks[0].link }}">Search</a>
            {% endif %}
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        <div class="row extra-bottom">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2>{{ page.getHeadline }}</h2>
            </div>
        </div>
        {% include "partials/page-single.twig" %}

        {% if page.content and page.children %}
            <hr class="hidden-xs">
        {% endif %}

        {% if page.children %}
            {% include "partials/page-show-layers.twig" %}
        {% endif %}

            {% if loop.last == false %}
        <hr class="hidden-xs">
            {% endif %}
    </div>

</section>

    {% if page.getQuicklinkBoxes %}
{% include "partials/link-widgets.twig" %}
    {% endif %}

{% include "partials/contact-foot.twig" %}

{% endblock %}