{% extends 'base.twig' %}
{% block template %}

<div class="home-finder">

    <div class="my-account-bar">
        <div class="row">
            <div class="property-back">
                <div class="col-sm-4">
                    <a href="/home-finder">&laquo; Back to Listings</a>
                </div>
            </div>
            {% if function('is_user_logged_in') %}
            <div class="account-links">
                <div class="col-sm-8">
                    <span class="your-account">Your Account:</span>
                    <span class="account-links">
                        <a href="#" class="showAccountPage savedListingsCount">Saved
                            Listings {{ current_user.getSavedPropertyIds|length }}</a> / <a
                                                                                            href="#"
                                                                                            class="showAccountPage savedSearchesCount">Saved
                        Searches {{ current_user.getRawSavedSearches|length }}</a></span>
                    / <span class="account-link"><a
                                                    href="{{ function('wp_logout_url', function('get_permalink', 35)) }}">Logout</a></span>
                    {% else %}
                    <a href="#" class="showAccountPage"><span
                                                              class="account-links">Sign In / Create Account</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="property-view-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-3 col-md-4">
                    {# NOTE - THIS IS ON THE PAGE TWICE, LOWER DOWN FOR MOBILE #}
                    <div class="property-sidebar hidden-sm hidden-xs">
                        <div class="property-gallery">
                            <div class="sidebar-box">
                                <div class="gallery-thumbs">
                                    <div class="row">
                                        <div class="col-md-12 col-photos">
                                            {# 1190 x 660 #}
                                            <a href="{{ property.getImages[0] }}" {% if function('wp_is_mobile') == false %}
                                               {% else %}onclick="return false;"{% endif %}>
                                                <img src="{{ property.getImages[0]|resize(1190,660) }}" class="main-photo img-responsive"/>
                                            </a>
                                        </div>
                                        {% if property.getImages[2] %}
                                        <div class="col-md-6 col-photos hidden-sm hidden-xs">
                                            {# 594 x 360 #}
                                            <a href="{{ property.getImages[1] }}" {% if function('wp_is_mobile') == false %}
                                               {% else %}onclick="return false;"{% endif %}>
                                                <img src="{{ property.getImages[1]|resize(594,360) }}" class="sub-photo img-responsive" />
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-photos hidden-sm hidden-xs">
                                            {# 594 x 360 #}
                                            <a href="{{ property.getImages[2] }}" {% if function('wp_is_mobile') == false %}
                                               {% else %}onclick="return false;"{% endif %}>
                                                <img src="{{ property.getImages[2]|resize(594,360) }}" class="sub-photo img-responsive" />
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if property.getImages[4] %}
                                        <div class="col-md-6 col-photos hidden-sm hidden-xs">
                                            {# 594 x 360 #}
                                            <a href="{{ property.getImages[3] }}" {% if function('wp_is_mobile') == false %}
                                               {% else %}onclick="return false;"{% endif %}>
                                                <img src="{{ property.getImages[3]|resize(594,360) }}" class="sub-photo img-responsive" />
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-photos hidden-sm hidden-xs">
                                            {# 594 x 360 #}
                                            <a href="{{ property.getImages[4] }}" {% if function('wp_is_mobile') == false %}
                                               {% else %}onclick="return false;"{% endif %}>
                                                <img src="{{ property.getImages[4]|resize(594,360) }}" class="sub-photo img-responsive" />
                                            </a>
                                        </div>
                                        {% endif %}
                                        <div style="display: none">
                                            {% for i in 5..property.getImages|length %}
                                            <div>
                                                <a href="{{ property.getImages[i] }}" {% if function('wp_is_mobile') == false %}class="color-box-group"
                                                   {% else %}onclick="return false;"{% endif %}>
                                                    <img src="{{ property.getImages[i]|resize(594,360) }}"></a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="btn-box">
                                    <a class="site-btn" href="{{ property.getImages[0] }}">View Gallery</a>
                                </div>
                            </div>
                        </div>

                        <div class="property-map">
                            <div class="sidebar-box single-map" id="single-map" data-latitude="{{ property.latitude }}"
                                 data-longitude="{{ property.longitude }}" data-address="{{ property.address_web }}"
                                 data-link="{{ property.link }}" data-property-type="{{ property.getPropertyType }}"
                                 data-tool-tip="{% filter escape|combineLines %}{% include 'partials/home-finder/map-tool-tip.twig' with { property: property } only %}{% endfilter %}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="single-listing-content">
                        <div class="listing-actions">
                            <div class="save action-link">

                                <div class="saved"
                                     {% if current_user.hasSavedProperty(property) == false %}style="display:none;"{% endif %}>
                                    <a href="#" data-property-id="{{ property.id }}">Saved
                                        <div class="star-icon">
                                            <svg width="16" height="16">
                                                <image xlink:href="{{ template_uri }}/img/heart-on.svg"
                                                       src="{{ template_uri }}/img/heart-on.png" width="16" height="16"/>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="not-saved"
                                     {% if current_user.hasSavedProperty(property) == true %}style="display:none;"{% endif %}>
                                    <a href="#" data-property-id="{{ property.id }}">Save
                                        <div class="star-icon">
                                            <svg width="16" height="16">
                                                <image xlink:href="{{ template_uri }}/img/heart-off.svg"
                                                       src="{{ template_uri }}/img/heart-off.png" width="16" height="16"/>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="share action-link">
                                {% set tweet_share = property.getFriendlyName~' on @danielisland '~property.link|url_encode %}
                                {% set email_subject_share = '[Daniel Island Real Estate] '~property.getAddress|url_encode %}
                                {% set email_body_share = property.getFriendlyName~' '~property.link|url_encode %}
                                {% set facebook_app_id = function('\\App\\Model\\Config::getFacebookAppId') %}
                                {% set domain = property.link|url_encode %}
                                {% set facebook_share_name = property.getAddress~' on Daniel Island Real Estate'|url_encode %}
                                {% set facebook_share_description = property.getFriendlyName|url_encode %}
                                {% set facebook_share_caption = property.link|url_encode %}
                                {% set facebook_share_context = property.link|url_encode %}
                                {% set facebook_share_image_src = property.getFeaturedImageSrc|url_encode %}
                                <a class="open-share-widget">Share
                                    <div class="star-icon">
                                        <svg width="16" height="16">
                                            <image xlink:href="{{ template_uri }}/img/share.svg"
                                                   src="{{ template_uri }}/img/share.png" width="16" height="16"/>
                                        </svg>
                                    </div>
                                </a>
                                <div class="share-widget" data-property-id="{{ property.id }}">
                                    <span class="share-text">Share</span>
                                    <a href="https://www.facebook.com/dialog/feed?app_id={{ facebook_app_id }}&display=popup&name={{ facebook_share_name }}&description={{ facebook_share_description }}&picture={{ facebook_share_image_src }}&caption={{ facebook_share_caption }}&link={{ domain }}&redirect_uri={{ domain }}"
                                       target="new">
                                        <div class="fb-icon share-icon"></div>
                                    </a>
                                    <a href="http://twitter.com/home?status={{ tweet_share }}" target="new">
                                        <div class="twitter-icon share-icon"></div>
                                    </a>
                                    <a href="mailto:?subject={{ email_subject_share }}&body={{ email_body_share }}">
                                        <div class="email-icon share-icon"></div>
                                    </a>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                            <div class="print action-link">
                                <form action="https://do.convertapi.com/Web2Pdf" method="post">
                                    <input type="hidden" name="ApiKey" value="780223306"/>
                                    <input type="hidden" name="CUrl"
                                           value="{{ property.link }}print/"/>
                                    <input type="hidden" name="DocumentTitle"
                                           value="Daniel Island {{ property.getAddress }}"/>
                                    <input type="hidden" name="PageSize" value="letter"/>
                                    <input type="hidden" name="MarginTop" value="0in"/>
                                    <input type="hidden" name="MarginRight" value="0in"/>
                                    <input type="hidden" name="MarginBottom" value="0in"/>
                                    <input type="hidden" name="MarginLeft" value="0in"/>

                                    <a href="#" onclick="jQuery(this).closest('form').submit()">Print
                                        <div class="star-icon">
                                            <svg width="16" height="16">
                                                <image xlink:href="{{ template_uri }}/img/printer.svg"
                                                       src="{{ template_uri }}/img/printer.png" width="16" height="16"/>
                                            </svg>
                                        </div>
                                    </a>
                                </form>
                            </div>
                            <div class="optional-btns">
                                {% if property.getX3DTourLink %}
                                <a class="optional-link" href="{{ property.getX3DTourLink }}" target="_blank">
                                    3D Home Tour
                                    <div class="icon-block">
                                        <svg width="16" height="16">
                                            <image xlink:href="{{ template_uri }}/img/cube.svg"
                                                   src="{{ template_uri }}/img/cube.png" width="16" height="16"/>
                                        </svg>
                                    </div>
                                </a>
                                {% endif %}
                                {% if property.getVideoLink %}
                                <a class="video-play optional-link" href="{{ property.getVideoLink }}">
                                    View Video
                                    <div class="icon-block">
                                        <svg width="16" height="16">
                                            <image xlink:href="{{ template_uri }}/img/film.svg"
                                                   src="{{ template_uri }}/img/film.png" width="16" height="16"/>
                                        </svg>
                                    </div>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="listing-address">
                            {{ property.getAddress }}
                        </div>

                        <div class="listing-price">
                            ${{ property.getPurchaseListPrice|number_format }}
                        </div>

                        <div class="listing-specs">
                            {% set numDecimalPlaces = 0 %}
                            {% if property.getPropertyType == 'Homesite' %}
                            {% set numDecimalPlaces = 2 %}
                            {% endif %}
                            {% if property.getBedroomCount %}{{ property.getBedroomCount }} BR / {% endif %}{% if property.getFullBathroomCount %}{{ property.getFullBathroomCount }} Full Bath{% endif %}{% if property.getHalfBathroomCount %} / {{ property.getHalfBathroomCount }}  Half Bath{% endif %}{% if property.getTotalAreaSquareFootage %} / {{ property.getTotalAreaSquareFootage|number_format(numDecimalPlaces) }} {{ property.getTotalAreaSquareFootageUnitOfMeasurement }}{% endif %}
                        </div>

                        <div class="listing-neighborhood">
                            <div class="item-padding">
                                <a href="/real-estate/home-finder/search-listings/?propertyTypes={{ property.getPropertyType | lower }}" class="filterByPropertyType"
                                   data-property-type="{{ property.getPropertyType }}">{% if property.getPropertyType == 'Home' %}Single Family Home{% else %}{{ property.getPropertyType }}{% endif %}</a>
                            </div>{% if property.getPropertyType and property.getNeighborhood.title %} | {% endif %}
                            <div class="item-padding"><a
                                                         href="{{ property.getNeighborhood.link }}">{{ property.getNeighborhood.title }}</a>
                            </div>{% if property.getUnitView %} |
                            <div class="item-padding">{{ property.getUnitView }}</div>{% endif %}
                        </div>


                        <div class="action-buttons-container">
                            {# {% if property.isFromPropertyBase and property.latitude and property.longitude %} #}
                            {# Removed in V2 because map is in sidebar #}
                            {# <a class="site-btn" id="viewOnMap" data-latitude="{{ property.latitude }}"
                                  data-longitude="{{ property.longitude }}" data-address="{{ property.address_web }}"
                                  data-link="{{ property.link }}" data-property-type="{{ property.getPropertyType }}"
                                  data-tool-tip="{% filter escape|combineLines %}{% include 'partials/home-finder/map-tool-tip.twig' with { property: property } only %}{% endfilter %}">View
                            on Map</a> #}
                            {# {% endif %} #}
                            <a class="site-btn" id="requestShowing" data-property-id="{{ property.getId }}">Tell Me More</a>
                            {% if property.getFloorPlanDocumentLink %}
                            <a class="site-btn" target="_blank" href="{{ property.getFloorPlanDocumentLink }}">View
                                Floorplan</a>
                            {% endif %}

                        </div>

                        {# MOBILE CONTENT #}
                        <div class="property-sidebar visible-sm visible-xs">
                            <div class="property-gallery">
                                <div class="sidebar-box">
                                    <div class="gallery-thumbs">
                                        <div class="row">
                                            <div class="col-md-12 col-photos">
                                                {# 1190 x 660 #}
                                                <a href="{{ property.getImages[0] }}" {% if function('wp_is_mobile') == false %}
                                                   {% else %}onclick="return false;"{% endif %}>
                                                    <img src="{{ property.getImages[0]|resize(1190,660) }}" class="main-photo img-responsive"/>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-photos hidden-sm hidden-xs">
                                                {# 594 x 360 #}
                                                <a href="{{ property.getImages[1] }}" {% if function('wp_is_mobile') == false %}
                                                   {% else %}onclick="return false;"{% endif %}>
                                                    <img src="{{ property.getImages[1]|resize(594,360) }}" class="sub-photo img-responsive" />
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-photos hidden-sm hidden-xs">
                                                {# 594 x 360 #}
                                                <a href="{{ property.getImages[2] }}" {% if function('wp_is_mobile') == false %}
                                                   {% else %}onclick="return false;"{% endif %}>
                                                    <img src="{{ property.getImages[2]|resize(594,360) }}" class="sub-photo img-responsive" />
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-photos hidden-sm hidden-xs">
                                                {# 594 x 360 #}
                                                <a href="{{ property.getImages[3] }}" {% if function('wp_is_mobile') == false %}
                                                   {% else %}onclick="return false;"{% endif %}>
                                                    <img src="{{ property.getImages[3]|resize(594,360) }}" class="sub-photo img-responsive" />
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-photos hidden-sm hidden-xs">
                                                {# 594 x 360 #}
                                                <a href="{{ property.getImages[4] }}" {% if function('wp_is_mobile') == false %}
                                                   {% else %}onclick="return false;"{% endif %}>
                                                    <img src="{{ property.getImages[4]|resize(594,360) }}" class="sub-photo img-responsive" />
                                                </a>
                                            </div>
                                            <div style="display: none">
                                                {% for i in 5..property.getImages|length %}
                                                <div>
                                                    <a href="{{ property.getImages[i] }}" {% if function('wp_is_mobile') == false %}class="color-box-group"
                                                       {% else %}onclick="return false;"{% endif %}>
                                                        <img src="{{ property.getImages[i]|resize(594,360) }}"></a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn-box">
                                        <a class="site-btn" href="{{ property.getImages[0] }}">View Gallery</a>
                                    </div>
                                </div>
                            </div>

                            {# NOTE - THE MAP IS LISTED ON THE PAGE TWICE BC ITS LOWER DOWN ON MOBILE #}
                            <div class="property-map">
                                <div class="sidebar-box single-map" id="single-map-2" data-latitude="{{ property.latitude }}"
                                     data-longitude="{{ property.longitude }}" data-address="{{ property.address_web }}"
                                     data-link="{{ property.link }}" data-property-type="{{ property.getPropertyType }}"
                                     data-tool-tip="{% filter escape|combineLines %}{% include 'partials/home-finder/map-tool-tip.twig' with { property: property } only %}{% endfilter %}">
                                </div>
                            </div>
                            
                            
                        </div>

                        {% if property.isNotResale %}
                        <div></div>
                        {% else %}
                        {% set agent = property.getRealEstateAgent %}
                        {% if not agent %}
                        {% set agent = property.getRandomRealEstateAgent %}
                        {% endif %}
                        {% if agent %}
                        <div class="listing-agent" {% if property.isFromMLS %}style="display:none;"{% endif %}>
                            Listing Agent: <a href="{{ agent.link }}">{{ agent.title }}</a>
                        </div>
                        {% endif %}
                        {% endif %}


                        <div class="listing-details">
                            {{ property.getDescription }}
                        </div>

                        <div class="agent-form">
                            {% if property.isNotResale %}
                            <div class="listing-agent__photo-logo" style="background-image: url({{ template_uri }}/img/daniel-island-real-estate-logo_dk.png);"></div>
                            {% else %}
                            {% if agent %}
                            <div class="listing-agent__photo" style="background-image: url({{ agent.thumbnail }});">
                                <a href="{{ agent.link }}"></a>
                            </div>
                            {% else %}
                            <div class="listing-agent__photo" style="background-image: url({{ agent.thumbnail }});">
                                <a href="{{ agent.link }}"></a>
                            </div>
                            {% endif %}
                            {% endif %}
                            <h4>Curious About This Property? Let us help you learn more.</h4>
                            <p>Fill out the form below to contact {{ agent.title|default('an agent') }} about this
                                property.</p>

                            {#<p>{{ agent.content|truncate(20) }}</p>#}


                            <form class="request-showing">
                                <input type="hidden" name="propertyId" value="{{ property.getId }}"/>
                                <input type="hidden" name="link" value="{{ property.link }}"/>
                                <input type="hidden" name="agentId" value="{{ agent.id }}"/>
                                <label>Name</label>
                                <input type="text" name="name"/>
                                <label>Email<span class="red">*</span></label>
                                <input type="text" name="email"/>
                                {% if function('is_user_logged_in') == false %}
                                <p>Would you like to create an account? An account allows you to save listings, save searches, and
                                    receive updates via email daily or weekly on your search results.</p>
                                <div class="account">
                                    <label>Yes</label>
                                    <input type="checkbox" name="createAccount"/>
                                </div>
                                {% endif %}
                                <label>Questions/Comments?</label>
                                <textarea name="message"></textarea>
                                <span style="display:none;" class="error-message"></span>
                                <button class="site-btn">Send</button>
                                <span style="display:none;" class="success-message-right">Your request to view this listing has successfully been submitted.Thank you for your interest.</span>
                                <div class="required">* Required</div>
                            </form>


                        </div>

                        {% if property.isFromMLS %}
                        <div class="broker-reciprocity">
                            <div class="disclaimer">
                                The data relating to real estate for sale on this web site comes in part from the Broker Reciprocity
                                SM Program of the Charleston Trident Multiple Listing Service. All of the information provided by
                                Charleston Trident Multiple Listing Service is deemed reliable but not
                                guaranteed.{% if property.listing_office_name %} Listing provided by {{ property.listing_office_name }} {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <div class="dire-logo">
                            <div class="disclaimer">
                                This information is deemed to be accurate but is not guaranteed. Pricing and availability is subject to
                                change. Use of some recreational amenities subject to membership and/or other requirements.
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{# include('partials/footer.twig') #}

{% include "partials/modal-homefinder-request-showing.twig" %}

{% endblock %}