{% extends 'base.twig' %}
{% block template %}

    <section class="hero__page" style="background-image: url('{{ page.thumbnail.get_src|resize(1534,653) }}')">
        <div class="hero__content-tab-{{ page.getHeroColor }}">
        <div class="hero__content-inner">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        <div class="row extra-bottom">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2>{{ page.getHeadline }}</h2>
            </div>
        </div>
        {% for child_page in page.children('page', '\\App\\Model\\Page') %}
            {% if loop.index is odd %}
        <div class="row">
            <div class="col-xs-12 col-md-7">
                {% if child_page.getGalleryImages|length > 1 %}
                <div class="slider-sm__nav pull-right">
                    <span class="prev-sm"></span>
                    <span class="next-sm"></span>
                </div>
                {% endif %}
                <div class="slider-sm__wrap slider-sm">
                    {% for image in child_page.getGalleryImages %}
                        <div class="slider-sm__item" style="background-image: url('{{ image.get_src|resize(718,350) }}');">
                            {% if image.caption %}
                        <div class="slider-sm__caption">
                            <span>{{ image.caption }}</span>
                        </div>
                            {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-1 text-left child-content">
                <h4>{{ child_page.title }}</h4>
                {% if child_page.content|length > 450 %}
                    {% set expandLink = '<a class="expand-link">&nbsp;&hellip;Read More</a>' %}
                    {% set firstParagraph = child_page.content|truncateToFirstParagraph(expandLink) %}
                    {{ firstParagraph }}<span class="more-content" style="display:none;">
                    <p>{{ child_page.content|slice(firstParagraph|length - expandLink|length) }}</p></span>
                {% else %}
                    <p>
                        {{ child_page.content }}
                    </p>
                {% endif %}
                {% if child_page.getButton %}
                    {% set button = child_page.getButton %}
                    <a class="btn btn-green-small" href="{{ button.link }}">{{ button.title }}</a>
                {% endif %}
            </div>
        </div>
            {% else %}

                <div class="row">
                    <div class="col-xs-12 col-md-4 text-right child-content">
                        <h4>{{ child_page.title }}</h4>
                        {% if child_page.content|length > 450 %}
                            {% set expandLink = '<a class="expand-link">&nbsp;&hellip;Read More</a>' %}
                            {% set firstParagraph = child_page.content|truncateToFirstParagraph(expandLink) %}
                            {{ firstParagraph }}<span class="more-content" style="display:none;">
                            <p>{{ child_page.content|slice(firstParagraph|length - expandLink|length) }}</p></span>
                        {% else %}
                            <p>
                                {{ child_page.content }}
                            </p>
                        {% endif %}
                        {% if child_page.getButton %}
                            {% set button = child_page.getButton %}
                            <a class="btn btn-green-small" href="{{ button.link }}">{{ button.title }}</a>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-7 col-md-offset-1">
                        {% if child_page.getGalleryImages|length > 1 %}
                        <div class="slider-sm__nav pull-right">
                            <span class="prev-sm"></span>
                            <span class="next-sm"></span>
                        </div>
                        {% endif %}
                        <div class="slider-sm__wrap slider-sm">
                            {% for image in child_page.getGalleryImages %}
                                <div class="slider-sm__item" style="background-image: url('{{ image.get_src|resize(718,350) }}');">
                                    {% if image.caption %}
                                        <div class="slider-sm__caption">
                                            <span>{{ image.caption }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% endif %}

            {% if loop.last == false %}
        <hr>
            {% endif %}
        {% endfor %}
        {% if page.title == 'Location' %}
        <hr>

        <div class="row">
            <div class="col-xs-12">
                <h4>Area Map</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d428037.1504337233!2d-80.38384837352693!3d33.05540747704467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fef55754bce12f%3A0xc2fd1920616bd466!2sCarnes+Crossroads+Real+Estate!5e0!3m2!1sen!2sus!4v1449802263517"
                        width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        {% endif %}
    </div>

</section>

    {% if page.getQuicklinkBoxes %}
{% include "partials/link-widgets.twig" %}
    {% endif %}

{% include "partials/contact-foot.twig" %}

{% endblock %}