{% extends 'base.twig' %}
{% block template %}

<section class="hero__page" style="background-image: url({{ template_uri }}/img/bg-hero-events.jpg)">
    <div class="hero__content-tab-orange">
        <div class="hero__content-inner">
            <h1>Events</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        <div class="row extra-bottom">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2>Short descriptor about the location of Carnes Crossroads. This will act as a headline for all of the sub categories.</h2>
            </div>
        </div>
        {# COMMUNITY SLIDER #}
        <div class="row">
            <h3 class="pull-left">Headline about the community &amp; lifestyle</h3>
            <div class="slider-lg__controls pull-right">
                <span id="prev-lg1"></span>
                <span id="next-lg1"></span>
            </div>
        </div>
        <div class="row slider-lg__wrap" id="slider-lg1">
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-1.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Schools</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-2.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Parks &amp; Trails</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-3.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Amenities</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-4.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Shopping &amp; Dining</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-5.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>The Green Barn</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
        </div>

        {# LOCAL SLIDER #}
        <div class="row extra-top">
            <h3 class="pull-left">Headline about the community &amp; lifestyle</h3>
            <div class="slider-lg__controls pull-right">
                <span id="prev-lg2"></span>
                <span id="next-lg2"></span>
            </div>
        </div>
        <div class="row slider-lg__wrap" id="slider-lg2">
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-1.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Schools</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-2.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Parks &amp; Trails</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-3.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Amenities</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-4.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Shopping &amp; Dining</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-5.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>The Green Barn</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
        </div>

        {# SOCIAL SLIDER #}
        <div class="row extra-top">
            <h3 class="pull-left">Headline about the community &amp; lifestyle</h3>
            <div class="slider-lg__controls pull-right">
                <span id="prev-lg3"></span>
                <span id="next-lg3"></span>
            </div>
        </div>
        <div class="row slider-lg__wrap" id="slider-lg3">
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-1.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Schools</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-2.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Parks &amp; Trails</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-3.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Amenities</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-4.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>Shopping &amp; Dining</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
            <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-5.jpg);">
                <div class="block-tab--full-bottom">
                    <h3>The Green Barn</h3>
                    <p>Subhead Descriptor</p>
                </div>
            </div>
        </div>

    </div>
</section>

{% include "partials/link-widgets.twig" %}

{% include "partials/contact-foot.twig" %}

{% endblock %}