{% extends 'base.twig' %}
{% block template %}

<section class="hero__page" style="background-image: url({{ template_uri }}/img/bg-hero-events.jpg)">
    <div class="hero__content-tab-{{ page.getHeroColor }}">
        <div class="hero__content-inner">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">

        <div class="row events__headline-container">
            <div class="col-xs-12 col-md-4">
                <div class="calendar">
                    {{ function('build_calendar', 12, 2015, []) }}
                </div>
            </div>
            {% for post in featured_posts %}
            <div class="col-xs-12 col-md-8">
                <h2>{{ post.title }}</h2>
                <p>{{ post.content|truncate(80) }}</p>
                <a href="{{ post.link }}" class="btn btn-green">Read More</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="page-content events__form-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>{{ page.getContactFormTitle }}</h4>
                {{ function('gravity_form', page.getContactFormId, false, false) }}
            </div>
        </div>
    </div>
</section>
<section class="page-content--white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 category-list">
                <h4>Follow Us</h4>
                <hr>
                <ul class="category-list__social">
                    <li class="footer__social-item"><a href="https://www.twitter.com/carnesxroads"><img src="{{ template_uri }}/img/icon-social-tw.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.facebook.com/CarnesCrossroads"><img src="{{ template_uri }}/img/icon-social-fb.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.youtube.com/user/CarnesXroads"><img src="{{ template_uri }}/img/icon-social-yt.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.instagram.com/carnescrossroads/"><img src="{{ template_uri }}/img/icon-social-ig.png"/></a></li>
                    <li class="footer__social-item"><a href="https://www.pinterest.com/carnesxroads/"><img src="{{ template_uri }}/img/icon-social-pn.png"/></a></li>
                    <li class="footer__social-item"><a href="https://plus.google.com/u/0/+Carnescharleston"><img src="{{ template_uri }}/img/icon-social-goog.png"/></a></li>
                </ul>
                <h4>Categories</h4>
                <hr>
                <ul class="category-list__categories">
                    {% for category in categories %}
                    <li class="category-list__item"><a href="{{ category.link }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-xs-12 col-md-9">
                {# COMMUNITY SLIDER #}
                <div>
                <div class="row">
                    <h3 class="pull-left">Community Events &amp; Information</h3>
                    <div class="slider-lg__controls pull-right">
                        <span class="prev-lg"></span>
                        <span class="next-lg"></span>
                    </div>
                </div>
                <div class="row slider-lg__wrap slider-lg">
                    <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-ev-1.jpg);">
                        <a href="#" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="#"><h3>Fall Hoedown</h3></a>
                            <p>October 21, 2015</p>
                        </div>
                    </div>
                    <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-ev-2.jpg);">
                        <a href="#" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="#"><h3>Wieland Model Home Tour</h3></a>
                            <p>October 29, 2015</p>
                        </div>
                    </div>
                    <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-ev-3.jpg);">
                        <a href="#" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="#"><h3>Meet Darlene McElveen</h3></a>
                            <p>Welcome Our New Team Member</p>
                        </div>
                    </div>
                    <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-ev-4.jpg);">
                        <a href="#" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="#"><h3>Fall Farmers' Market</h3></a>
                            <p>November 4, 2015</p>
                        </div>
                    </div>
                    <div class="slider-lg__item" style="background-image: url({{ template_uri }}/img/slider-ev-5.jpg);">
                        <a href="#" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="#"><h3>Construction Begins on Northwood Academy</h3></a>
                            <p>Information Gathering<br/>December 10, 2015</p>
                        </div>
                    </div>
                </div>
                </div>

                {# LOCAL SLIDER #}
                <div>
                <div class="row extra-top">
                    <h3 class="pull-left">Recent News</h3>
                    <div class="slider-lg__controls pull-right">
                        <span class="prev-lg"></span>
                        <span class="next-lg"></span>
                    </div>
                </div>
                <div class="row slider-lg__wrap slider-lg">
                    {% for post in recent_posts %}
                        <div class="slider-lg__item"
                             style="background-image: url({{ post.thumbnail.src|resize(335,317) }});">
                            <a href="{{ post.link }}" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="{{ post.link }}"><h3>{{ post.title }}</h3></a>
                            <p>{{ post.display_date }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>

                {# SOCIAL SLIDER #}
                <div>
                <div class="row extra-top">
                    <h3 class="pull-left">Social Feed</h3>
                    <div class="slider-lg__controls pull-right">
                        <span class="prev-lg"></span>
                        <span class="next-lg"></span>
                    </div>
                </div>
                <div class="row slider-lg__wrap slider-lg">
                    {% for social_post in social_feed %}
                        {% if social_post.social_post_type == 'facebook' %}
                            <div class="slider-lg__item">
                                <div class="social-quote">
                                    See why buying a new home<br/>
                                    is the best option for you.<br/>
                                    Schedule a home tour today!<br/>
                                    <span>#CarnesCrossroads</span>
                                </div>
                                <a href="#" class="slider-lg__item-link"></a>
                                <div class="block-tab--full-bottom">
                                    <a href="https://www.facebook.com/CarnesCrossroads" target="blank"><h3>Carnes
                                            Crossroads</h3></a>
                                    <p>September 20, 2015</p>
                                    <a href="https://www.facebook.com/CarnesCrossroads" target="blank"><img
                                                src="{{ template_uri }}/img/icon-social-fb.png"
                                                class="slider-lg__social"></a>
                                </div>
                            </div>
                        {% elseif social_post.social_post_type == 'instagram' %}
                            <div class="slider-lg__item"
                                 style="background-image: url({{ template_uri }}/img/slider-ev-11.jpg);">
                        <a href="#" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="https://www.instagram.com/carnescrossroads/" target="blank"><h3>@CarnesCrossroads</h3></a>
                            <p>Subhead Descriptor<br/>#northwoodacademy</p>
                            <a href="https://www.instagram.com/carnescrossroads/" target="blank"><img src="{{ template_uri }}/img/icon-social-ig.png" class="slider-lg__social"></a>
                        </div>
                    </div>
                        {% elseif social_post.social_post_type == 'youtube' %}
                        {% elseif social_post.social_post_type == 'twitter' %}
                            <div class="slider-lg__item">
                        <div class="social-quote">
                            See why buying a new home<br/>
                            is the best option for you.<br/>
                            Schedule a home tour today!<br/>
                            <span>#CarnesCrossroads</span>
                        </div>
                        <a href="#" class="slider-lg__item-link"></a>
                        <div class="block-tab--full-bottom">
                            <a href="https://www.twitter.com/carnesxroads" target="blank"><h3>Carnes Crossroads</h3></a>
                            <p>September 20, 2015</p>
                            <a href="https://www.twitter.com/carnesxroads" target="blank"><img src="{{ template_uri }}/img/icon-social-tw.png" class="slider-lg__social"></a>
                        </div>
                    </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}


                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/link-widgets.twig" %}

{% include "partials/contact-foot.twig" %}

{% endblock %}